# Stablecoin Billionaires<br> Descriptive Analysis of the Ethereum-based Stablecoin ecosystem

## by Anton Wahrstätter, 01.07.2020

# Part IV - HUSD

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from collections import Counter
from matplotlib import rc
import re
import random

rc('font', **{'family':'serif','serif': ['Computer Modern']})
rc('text', usetex=True)

In [2]:
#plots
tx_over_date = '../plots/husd/husd_txs_over_date.csv'
unique_senders_over_date = '../plots/husd/husd_unique_senders_over_date.csv'
unique_recipients_over_date = '../plots/husd/husd_unique_recipients_over_date.csv'
tx_count_to = '../plots/husd/husd_tx_count_to.csv'
tx_count_from = '../plots/husd/husd_tx_count_from.csv'
tx_over_date = '../plots/husd/husd_txs_over_date.csv'
balances = '../plots/husd/husd_balances.csv'
avg_gas_over_date = '../plots/husd/husd_avg_gas_over_date.csv'
avg_value_over_date = '../plots/husd/husd_avg_value_over_date.csv'
positive_cumulated_balances = '../plots/husd/husd_positive_cumulated_balances.csv'
circulating_supply = '../plots/husd/husd_circulating_supply.csv'
unique_recipients_per_day_over_date = '../plots/husd/husd_unique_recipients_per_day_over_date.csv'
unique_senders_per_day_over_date = '../plots/husd/husd_unique_senders_per_day_over_date.csv'
exchanges = '../plots/exchanges.csv'

#data 
transfer = '../data/husd/transfer/0_husd_transfer_8174400-10370273.csv'
mint = '../data/husd/issue/husd_issue.csv'
burn = '../data/husd/redeem/husd_redeem.csv'

<center></center>

# Data

In [3]:
df = pd.read_csv(transfer)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Basics

In [4]:
df['txvalue'] = df['txvalue'].astype(float)/10**8

In [5]:
df.describe()

,timestamp,blocknumber,txindex,txvalue,gas_price,gas_used
count,36821.000,36821.000,36821.000,36821.000,36821.000,36821.000
mean,1584309627.906,9685361.843,44.693,236994.674,47252501697.708,44784.038
std,6402774.980,465988.777,49.986,641696.177,65897350690.575,41259.766
min,1563604680.000,8185979.000,0.000,0.000,1000000000.000,22662.000
25%,1580938401.000,9425066.000,7.000,14950.000,20000000000.000,25010.000
50%,1585327549.000,9754585.000,25.000,90001.000,40000000000.000,40010.000
75%,1589252685.000,10048893.000,67.000,188999.000,50000000000.000,53508.000
max,1593558999.000,10370076.000,469.000,50000100.000,1500000000000.000,2709500.000

<center></center>

## Dataset

In [6]:
print('Start:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[0],
                                                        df['timestamp'].iloc[0],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[0]))
                                                       ))
print('End:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[-1],
                                                        df['timestamp'].iloc[-1],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[-1]))
                                                       ))

Start:
Block:            8185979
Timestamp:      1563604680
UTC Time:    2019-07-20 08:38:00

End:
Block:            10370076
Timestamp:      1593558999
UTC Time:    2020-07-01 01:16:39

## Total Nr. of Blocks

In [7]:
print('Total Nr. of Blocks: {}'.format(df['blocknumber'].iloc[-1]-df['blocknumber'].iloc[0]))

Total Nr. of Blocks: 2184097

<center></center>

## Total Nr. of Transfer Events

In [8]:
print('Total Nr. of Events: {:,.0f}'.format(df.describe().loc['count','timestamp']))

Total Nr. of Events: 36,821

<center></center>

## Total Nr. of Addresses

In [9]:
print('Total Nr. of Addresses: {}'.format(len(df['txto'].unique())))

Total Nr. of Addresses: 3739

<center></center>

## Addresses with funds

In [10]:
bal = pd.read_csv(balances)
print('Total Nr. of Addresses with funds: {}'.format(len(bal[bal['txvalue']>0])))

Total Nr. of Addresses with funds: 1414

<center></center>

## Avg. Transaction Value

In [11]:
print('Avg. Transaction Value: {:,.0f} HUSD'.format(np.mean(df['txvalue']/ 10**8)))

Avg. Transaction Value: 0 HUSD

<center></center>

## Total Gas Costs

In [12]:
df['costs'] = (df['gas_price']/10**18) * df['gas_used']
print('Total Gas spent for Transfers: {:,.3f} ether'.format(sum(df['costs'])))

Total Gas spent for Transfers: 77.673 ether

<center></center>

## Initial HUSD Supply

In [13]:
#first mint event
#0xdc6bb2a1aff2dbb2613113984b5fbd560e582c0a4369149402d7ea83b0f5983e

<center></center>

## Total HUSD Supply

In [14]:
sum(pd.read_csv(mint)['txvalue']/10**8)-sum(pd.read_csv(burn)['txvalue']/10**8)

114538719.10987687

<center></center>

<center></center>

<center></center>

# I. Event analysis

## I.I. Mint Event

## Plot new issued tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25), dpi=250)
ax = fig.subplots()
plt.grid()
plt.title(r'I s s u e d \ \ H U S D'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e ', size=120)
plt.ylabel(r'H U S D'+'\n', size=120)
plt.yticks(fontsize=60)
plt.yticks(fontsize=30)
plt.xticks(labels=["\nJul '19'","Oct '19","\nJan '20","Apr '20","\nJul '20"], 
           ticks=[0,73,165,
                  256,347], fontsize=60)

def plot_issue_over_date():
    _issue = pd.read_csv(mint)
    iss = _issue.loc[:, ['timestamp', 'txvalue']]
    iss['utc'] = iss['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    iss = iss.groupby('utc', as_index = False)['txvalue'].sum()
    a = iss['utc'].iloc[0]
    b = iss['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    iss = iss.set_index('utc')
    iss.index = pd.DatetimeIndex(iss.index)
    iss = iss.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(iss)):
        plt.plot([counter,counter], [0, iss['txvalue'].iloc[counter]/(10**8)], color= 'black', linewidth=3)
        counter += 1
    return 

plt.tight_layout(pad=5)
plot_issue_over_date()
plt.savefig('../pics/husd/husd_issued_husd_over_date.pdf')

## Further info

In [15]:
df = pd.read_csv(mint)
#df[df['txvalue'] == max(df['txvalue'])]
print('Issue Events: {}\nIssued HUSD: {:,.0f}\n'.format(len(df), sum(df['txvalue'])/10**8, ':,0f'))
print('Largest issue: {:,.0f} HUSD\n . . . to address: {}\n'.format(df.loc[3274, 'txvalue']//10**8,'0x55fe002aeff02f77364de339a1292923a15844b8'))

Issue Events: 6992
Issued HUSD: 1,540,511,785

Largest issue: 12,000 HUSD
 . . . to address: 0x55fe002aeff02f77364de339a1292923a15844b8

<center></center>

<center></center>

## I.II. Burn Event

## Plot burned tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25))
ax = fig.subplots()
plt.grid()
plt.title(r'B u r n e d \ \ H U S D'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e', size=120)
plt.ylabel(r'H U S D'+'\n', size=120)
plt.yticks(fontsize=60)
plt.yticks(fontsize=30)
plt.xticks(labels=["\nJul '19'","Oct '19","\nJan '20","Apr '20","\nJul '20"], 
           ticks=[0,73,165,256,347], fontsize=60)

def plot_burn_over_date():
    _dbf = pd.read_csv(burn)
    dbf = _dbf.loc[:, ['timestamp', 'txvalue']]
    dbf['utc'] = dbf['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    dbf = dbf.groupby('utc', as_index = False)['txvalue'].sum()
    a = dbf['utc'].iloc[0]
    b = dbf['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    dbf = dbf.set_index('utc')
    dbf.index = pd.DatetimeIndex(dbf.index)
    dbf = dbf.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(dbf)):
        plt.plot([counter,counter], [0, dbf['txvalue'].iloc[counter]/(10**8)], color= 'black', linewidth=3)
        counter += 1
    
    return

plt.tight_layout(pad=5)
plot_burn_over_date()
plt.savefig('../pics/husd/husd_burned_husd_over_date.pdf')

## Further info

In [16]:
df = pd.read_csv(burn)

print('Burn Events: {}\nBurned husd: {:,.0f}'.format(len(df), sum(df['txvalue'])/10**8, ':,0f'))
print('. . . from {} addesses\n'.format(len(df['address'].unique())))
print('Largest burn: {:,.0f} husd\n . . . from address: {}\n'.format(df.groupby('address')['txvalue'].sum()[0]/10**8,df.groupby("address")["txvalue"].sum().index[0]))

Burn Events: 3598
Burned husd: 1,425,973,065
. . . from 75 addesses

Largest burn: 285 husd
 . . . from address: 0x04f34dea4f50ec38d281d02ed6c325ee49679089

<center></center>

<center></center>

## Plot circulating supply

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'C i r c u l a t i n g \ \ H U S D \ \ S u p p l y'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 60)
plt.ylabel(r'H U S D'+'\n', size= 60)
ax.yaxis.get_offset_text().set_fontsize(25)

plt.yticks(fontsize=30)
plt.xticks(labels=["\nJul '19'","Oct '19","\nJan '20","Apr '20","\nJul '20"], 
           ticks=[0,73,165,
                  256,347], fontsize=30)

circ = pd.read_csv(circulating_supply, index_col='Unnamed: 0')

plt.plot(range(0, 347), circ['txvalue'].cumsum()/10**8, color='black', linewidth = 4, label = 'HUSD supply')
plt.fill_between(range(0, 347),0 , circ['txvalue'].cumsum()/10**8, alpha=0.2, facecolor='#2D728F')
lgnd = plt.legend(loc='upper left', fontsize=40)
plt.tight_layout(pad=5)
plt.savefig('../pics/husd/husd_cirulating_supply.pdf')

<center></center>

<center></center>

<center></center>

## I.III. Transfer Event

## Plot transfers over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'H U S D \ \ T r a n s f e r s'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 50)
plt.ylabel(r'T r a n s f e r s'+'\n', size= 50)
plt.yticks(np.arange(0, 601, 100), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 601, 100)), 
           fontsize=30)
plt.xticks(labels=["\nJul '19'","Oct '19","\nJan '20","Apr '20","\nJul '20"], 
           ticks=[0,73,165,
                  256,347], fontsize=30)

def plot_txs_over_date(df, lwd, label, col = '#2D728F', plusbetween = False):
    plt.plot(np.arange(0 , len(df['txs'])), df['txs'], color = col, linewidth = lwd, label = label)
    if plusbetween:
        plt.fill_between(np.arange(0 , len(df['txs'])),0 , df['txs'], alpha=0.1, facecolor='black')
 
    
plot_txs_over_date(df = pd.read_csv(tx_over_date, index_col=0), 
                   col = 'black', lwd = 2, label = 'Transfers', plusbetween=True)

plot_txs_over_date(pd.read_csv(unique_senders_per_day_over_date, index_col='Unnamed: 0'), 
                   col='#9DB469', lwd = 2, label =  'Unique Senders per day')

plot_txs_over_date(pd.read_csv(unique_recipients_per_day_over_date, index_col='Unnamed: 0'), 
                   lwd = 2, label = 'Unique Recipients per day')




lgnd = ax.legend(loc='upper right', fontsize=35)
lgnd.legendHandles[0].set_linewidth(5.0)
lgnd.legendHandles[1].set_linewidth(5.0)
lgnd.legendHandles[2].set_linewidth(5.0)

plt.tight_layout(pad=5)
plt.savefig('../pics/husd/husd_tx_over_date.pdf')
plt.show()

<center></center>

## Most active addresses

From:

In [28]:
fr = pd.read_csv(tx_count_from, index_col='Unnamed: 0').sort_values('txs', ascending = False)
to = pd.read_csv(tx_count_to, index_col='Unnamed: 0').sort_values('txs', ascending = False)
fr = pd.DataFrame(fr.loc[:fr.index[10],'txs'])
fr['tag'] = ['-', 'Huobi', 'Huobi 2', 'Huobi 9', 'FTX Exchange', 'Huobi 10', 'Burn gate of Huobi', '-', '-', '-', 'Huobi 12']
fr

                                             txs                 tag
0x0000000000000000000000000000000000000000  6992                   -
0x5f64d9c81f5a30f4b29301401f96138792dc5f58  3089               Huobi
0x6748f50f686bfbca6fe8ad62b22228b87f31ff2b  2152             Huobi 2
0x1062a747393198f70f71ec65a582423dba7e5ab3  2075             Huobi 9
0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2  2035        FTX Exchange
0xe93381fb4c4f14bda253907b18fad305d799241a  1629            Huobi 10
0xd72ae3c3a7c9819d1d6b411ebf561e660ebbb108  1328  Burn gate of Huobi
0xf2b8a13a06117b92fbec4de5a0cd9b3ae772ce22  1157                   -
0xab5c66752a9e8167967685f1450532fb96d5d24f  1101                   -
0x75a33ba37d86a0fbd06970577017dec18d896e15  1100                   -
0x46705dfff24256421a05d056c29e81bdc09723b8   822            Huobi 12

To:

In [30]:
to = pd.DataFrame(to.loc[:to.index[10],'txs'])
to['tag'] = ['Huobi', 'Huobi 9', '-', 'Huobi 2', 'Burn gate of Huobi', '-', 'FTX Exchange', '-', 'Huobi 10', '-', '-']
to

                                             txs                 tag
0x5f64d9c81f5a30f4b29301401f96138792dc5f58  4709               Huobi
0x1062a747393198f70f71ec65a582423dba7e5ab3  3698             Huobi 9
0x0000000000000000000000000000000000000000  3598                   -
0x6748f50f686bfbca6fe8ad62b22228b87f31ff2b  2208             Huobi 2
0xd72ae3c3a7c9819d1d6b411ebf561e660ebbb108  1421  Burn gate of Huobi
0x5195427ca88df768c298721da791b93ad11eca65  1401                   -
0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2  1325        FTX Exchange
0x75a33ba37d86a0fbd06970577017dec18d896e15  1248                   -
0xe93381fb4c4f14bda253907b18fad305d799241a  1043            Huobi 10
0xc5a8859c44ac8aa2169afacf45b87c08593bec10   804                   -
0xab5c66752a9e8167967685f1450532fb96d5d24f   716                   -

<center></center>

<center></center>

## Activity distribution

In [31]:
df_from = pd.read_csv(tx_count_from, index_col=0)
df_to = pd.read_csv(tx_count_to, index_col=0)
df_all = pd.concat([df_from, df_to])
df = df_all.groupby(df_all.index).sum()
print('{} addresses in total'.format(len(df)))
df = df.sort_values('txs')
gr0 = len(df.loc[df['txs'] >= 500000])
gra = len(df.loc[df['txs'] >= 100000]) - gr0 
grb = len(df.loc[df['txs'] >= 50000]) - gr0 - gra
grc = len(df.loc[df['txs'] >= 10000]) - gr0 - gra - grb
grd = len(df.loc[df['txs'] >= 1000]) - gr0 - gra - grb - grc
gre = len(df.loc[df['txs'] >= 100]) - gr0 - gra - grb - grc - grd
grf = len(df.loc[df['txs'] >= 10]) - gr0 - gra - grb - grc - grd - gre
grg = len(df.loc[df['txs'] <= 10])
grh = len(df.loc[df['txs'] == 1]) 
pd.DataFrame({'Transactions': ['> 500.000','100.000-500.000',
                               '50.000-100.000',
                               '10.000-50.000',
                               '1.000-10.000',
                               '100-1.000',
                               '10-100',
                               '< 10', 
                               '1'], 
              'Addresses':[gr0,gra,grb,grc,grd,gre,grf,grg,grh]
             })

3739 addresses in total

      Transactions  Addresses
0        > 500.000          0
1  100.000-500.000          0
2   50.000-100.000          0
3    10.000-50.000          1
4     1.000-10.000         13
5        100-1.000         38
6           10-100        275
7             < 10       3453
8                1       1066

<center></center>

<center></center>

## Plot average transfer amount

## Jan '20 - Jul '20

In [ ]:
print('\n\n')
df = pd.read_csv(avg_value_over_date, index_col=0)
df = df.loc[df.index[165]:,:]
plt.figure(figsize=(12, 7), dpi=800)

plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['txvalue'], color = 'black', label = 'Avg. Amount/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['txvalue'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\n'+'D a t e', fontsize=35)
plt.ylabel('H U S D'+'\n', fontsize=30)
plt.title("H U S D\nA v g. \ \ T r a n s f e r \ \ A m o u n t"+"\n", size = 30)
plt.legend(loc="upper right", fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=23) 
plt.yticks(np.arange(0, 1000001, 200000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 1000001, 200000)), 
           fontsize=15)
plt.tight_layout(pad=1)
plt.savefig('../pics/husd/husd_avgtxvalue_jan20.pdf')

<center></center>

## Further Info

In [37]:
df.describe()

         txvalue
count    182.000
mean  223063.831
std   112910.627
min    48095.594
25%   140995.809
50%   213629.267
75%   269175.583
max   959148.461

<center></center>

<center></center>

## Plot average gas costs

## Jan '20 - Jul '20

In [ ]:
print('\n\n')
df = pd.read_csv(avg_gas_over_date, index_col='Unnamed: 0')
df = df.loc[df.index[165]:,:]
plt.figure(figsize=(12, 7), dpi=800)
plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['gas'], color = 'black', label = 'Avg. Gas Costs/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['gas'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\nD a t e', fontsize=35)
plt.ylabel('E t h e r\n', fontsize=30)
plt.title('H U S D\nA v g. \ \ G a s \ \ C o s t s\n', size = 30)
lgnd = plt.legend(loc='upper left', fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=20) 
plt.yticks(np.arange(0, 0.05, 0.01), 
           np.vectorize(lambda x: f'{x:,.3f}')(np.arange(0, 0.05, 0.01)), 
           fontsize=15)
plt.tight_layout(pad=1)
lgnd.legendHandles[0].set_linewidth(3.0)
plt.savefig('../pics/husd/husd_avggascosts_jan20.pdf')

In [40]:
df.describe()

          gas
count 193.000
mean    0.002
std     0.001
min     0.001
25%     0.001
50%     0.002
75%     0.002
max     0.014

<center></center>

<center></center>

# II. Balances Analysis

In [41]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
df

                                         address       balance           cum
0     0x05293aa9647ff7579d204df7ca3af12c71b085ab         0.000         0.000
1     0x0eee3e3828a45f7601d5f54bf49bb01d1a9df5ea         0.000         0.000
2     0xc18842d634a683e6ea5392e3f9f23a6966c88371         0.000         0.000
3     0x8521ea5a8e36da59660236fee0961b856488acad         0.000         0.000
4     0x5195427ca88df768c298721da791b93ad11eca65         0.000         0.000
...                                          ...           ...           ...
1409  0xe93381fb4c4f14bda253907b18fad305d799241a    310917.323   1772699.065
1410  0x4e017f7eddc86809bc3067de7077c3599ab284ed    602850.603   2375549.668
1411  0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2    776012.106   3151561.774
1412  0xd70c0deab2b3f7f24a03c724c49e8c1c88dd73e6    905435.000   4056996.774
1413  0x1062a747393198f70f71ec65a582423dba7e5ab3 110481722.336 114538719.110

[1414 rows x 3 columns]

<center></center>

## II.I. Quick Summary

In [42]:
(df[df['balance']>0]['balance']).describe().apply(lambda x: format(x, 'f'))

count         1414.000000
mean         81003.337419
std        2938276.360683
min              0.000000
25%              3.575325
50%             13.000000
75%             55.818414
max      110481722.335980
Name: balance, dtype: object

In [43]:
print('{}/{} with less than 1 husd' .format(len(df[df['balance']<1]['balance']), len(df['balance'])))

238/1414 with less than 1 husd

<center></center>

## II.II. Balance Table

In [44]:
df = pd.read_csv(positive_cumulated_balances, index_col=0)
def get_distribution(perc):
    per = round(df.index[-1]*perc)
    entities = df.index[-1]- per
    upper = df.loc[per:,:]
    lower = df.loc[:per,:]
    lower_ = lower['cum'].iloc[-1]
    upper_ = (upper['cum'].iloc[-1] - upper['cum'].iloc[0])
    return entities, lower_, upper_, lower_/ upper['cum'].iloc[-1], upper_/(upper['cum'].iloc[-1])

idx90, lower90, upper90, per10, per90 = get_distribution(0.90)
idx95, lower95, upper95, per05, per95 = get_distribution(0.95)
idx99, lower99, upper99, per01, per99 = get_distribution(0.99)
idx999, lower999, upper999, per001, per999 = get_distribution(0.999)

df = pd.DataFrame([[f'{idx999:,.0f}', round(per999*100,2), f'{upper999:,.0f}'],
             [f'{idx99:,.0f}', round(per99*100,2),f'{upper99:,.0f}'],
             [f'{idx95:,.0f}', round(per95*100,2),f'{upper95:,.0f}'],
             [f'{idx90:,.0f}', round(per90*100,2),f'{upper90:,.0f}']],
                  index=['0.1% of the richest accounts', '1% of the richest accounts','5% of the richest accounts','10% of the richest accounts'],
                   columns=['Accounts in total', '% of total supply', 'husd amount'])
df

                             Accounts in total  % of total supply  husd amount
0.1% of the richest accounts                 1             96.460  110,481,722
1% of the richest accounts                  14             99.830  114,342,683
5% of the richest accounts                  71             99.950  114,482,128
10% of the richest accounts                141             99.970  114,503,994

<center></center>

<center></center>

## II.III. Rich list

In [85]:
pd.options.mode.chained_assignment = None
df = pd.read_csv(positive_cumulated_balances)
balance = df
rich = df.loc[df.index[-10]:,:]
ex = pd.read_csv(exchanges, header=None)
loop = rich.iterrows()
for i, j in loop:
    if j['address'] in ex[0].tolist():
        rich.loc[i,'nametag'] = ex[ex[0] == j['address']][1].values[0]

rich

,Unnamed: 0,address,balance,cum,nametag
1404,1404,0x395e0bd2e6f95c66ba427306c9d5774f4b752aea,115349.017,495653.598,NaN
1405,1405,0xef58321032cf693fa7e39f31e45cbc32f2092cb3,136950.399,632603.997,NaN
1406,1406,0x40054c8f7e933c1b195e77684079147059b72888,250194.948,882798.945,NaN
1407,1407,0x7abe0ce388281d2acf297cb089caef3819b13448,270196.000,1152994.945,NaN
1408,1408,0x6748f50f686bfbca6fe8ad62b22228b87f31ff2b,308786.796,1461781.741,Huobi 2
1409,1409,0xe93381fb4c4f14bda253907b18fad305d799241a,310917.323,1772699.065,Huobi 10
1410,1410,0x4e017f7eddc86809bc3067de7077c3599ab284ed,602850.603,2375549.668,NaN
1411,1411,0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2,776012.106,3151561.774,NaN
1412,1412,0xd70c0deab2b3f7f24a03c724c49e8c1c88dd73e6,905435.000,4056996.774,NaN
1413,1413,0x1062a747393198f70f71ec65a582423dba7e5ab3,110481722.336,114538719.110,Huobi 9

<center></center>

<center></center>

## Huobi

In [46]:
ex = pd.read_csv(exchanges, header=None)

In [47]:
df = ex.loc[0:73,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Huobi Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Huobi Total Balance: 111141554
97.03% of Total

<center></center>

## Binance

In [48]:
df = ex.loc[74:88,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Binance Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Binance Total Balance: 0
0.00% of Total

<center></center>

## Bitfinex

In [49]:
df = ex.loc[89:110,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bitfinex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bitfinex Total Balance: 143
0.00% of Total

<center></center>

## OKEx

In [50]:
df = ex.loc[111:115,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('OKEx Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

OKEx Total Balance: 0
0.00% of Total

<center></center>

## Bittrex

In [51]:
df = ex.loc[116:119,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bittrex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bittrex Total Balance: 0
0.00% of Total

<center></center>

## Compound

In [52]:
df = ex.loc[151:179,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Compound Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Compound Total Balance: 0
0.00% of Total

<center></center>

## Poloniex

In [53]:
df = ex.loc[247:266,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Poloniex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Poloniex Total Balance: 0
0.00% of Total

<center></center>

<center></center>

<center></center>

# II. IV. Pie Chart

In [61]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
aa = df.iloc[df.index[-1]-80:]
bb = df['balance'].iloc[:df.index[-1]-80]
df = aa.append(pd.DataFrame({'address': 'others', 'balance': sum(bb)}, index=[0]))
label = []
counter = 0
def getlabel(i):
    global counter
    if i:
        if not i == 'others':
            label.append(i + '...')
        else:
            label.append(i)
    else:
        label.append('')
    counter += 1
    
[getlabel(i[:6]) if counter >= len(df)-5 else getlabel('') for i in df['address']  ]
print()

In [ ]:
print('\n\n')
# Colorspace colors by: https://colorspace.r-forge.r-project.org/index.html

colorspace_set3 = ['#EEBD92','#FFB3B5','#85D0F2','#BCC3FE','#E7B5F5', 
                 '#FEAFDA', '#61D8D6','#76D9B1','#A4D390','#CFC982']
colorsp_dynamic =['#DB9D85', '#87AEDF', '#9DB469', '#6DBC86', '#3DBEAB', 
                  '#4CB9CC', '#C2A968', '#BB9FE0', '#DA95CC', '#E494AB']
colorspa_dark_3 = ['#B675E0','#5991E4','#00AA5A','#6F9F00','#CE7D3B']
colorspa_dyna_5 = ['#9DB469','#87AEDF','#DA95CC', '#DB9D85','#3DBEAB']

fig = plt.figure(figsize=(25,15), dpi=400)
ax = fig.add_subplot()
aa = plt.pie(df['balance'],colors=colorsp_dynamic, 
             labels=label,
             autopct=lambda x: r'{:.1f}\%'.format(x) if x > 1.5 else r'{:.0f}\%'.format(x) if x > 5  else '', 
             pctdistance= 0.8, 
             labeldistance= 1.05, 
             radius=1, 
             explode=[0.01 for i in range(0, len(df['balance']))],
             wedgeprops = {'linewidth': 0.8, 'edgecolor':'k'}, 
             startangle=0) 

# Custom Modifications
#aa[-1][-1].set_x(-0.7268917458682129)
aa[-1][-1].set_fontsize(35)
aa[-1][-2].set_fontsize(40)
#aa[-1][-2].set_x(0.19977073082370535)
#aa[-1][-2].set_y(0.8000006952023211)
aa[-1][-3].set_fontsize(27)
aa[-1][-4].set_fontsize(23)
aa[-1][-5].set_fontsize(20)
aa[-1][-6].set_fontsize(16)
aa[-1][-7].set_fontsize(13)
aa[-1][-8].set_fontsize(9)
aa[-1][-9].set_fontsize(9)
aa[-1][-10].set_fontsize(9)
aa[-1][-11].set_fontsize(8)

fontsize = -43
for i in aa[1]:
    i.set_fontsize(fontsize)
    fontsize += 1
aa[1][-1].set_fontsize(55)
aa[1][-3].set_y(0.24526206965343738)
aa[1][-4].set_y(0.16709989305583238)
aa[1][-5].set_y(0.0989980411375326)
plt.tight_layout(pad=5)
plt.title('H U S D \ \ D i s t r i b u t i o n', fontsize = 50)
circ = plt.Circle((0,0),0.5,color='black', fc='white',linewidth=1.25)
ax.add_artist(circ)
plt.savefig('../pics/husd/husd_distribution_pie.pdf')

## II.V. Lorenz curve

In [31]:
df = pd.read_csv(positive_cumulated_balances, index_col = 'Unnamed: 0')
df

                                         address       balance           cum
0     0x05293aa9647ff7579d204df7ca3af12c71b085ab  1.000000e-08  1.000000e-08
1     0x0eee3e3828a45f7601d5f54bf49bb01d1a9df5ea  1.000000e-08  2.000000e-08
2     0xc18842d634a683e6ea5392e3f9f23a6966c88371  1.000000e-08  3.000000e-08
3     0x8521ea5a8e36da59660236fee0961b856488acad  1.000000e-08  4.000000e-08
4     0x5195427ca88df768c298721da791b93ad11eca65  8.000000e-08  1.200000e-07
...                                          ...           ...           ...
1409  0xe93381fb4c4f14bda253907b18fad305d799241a  3.109173e+05  1.772699e+06
1410  0x4e017f7eddc86809bc3067de7077c3599ab284ed  6.028506e+05  2.375550e+06
1411  0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2  7.760121e+05  3.151562e+06
1412  0xd70c0deab2b3f7f24a03c724c49e8c1c88dd73e6  9.054350e+05  4.056997e+06
1413  0x1062a747393198f70f71ec65a582423dba7e5ab3  1.104817e+08  1.145387e+08

[1414 rows x 3 columns]

In [82]:
y_all = df['cum']/df['cum'].iloc[-1]
x_all = (np.arange(start = 0 , stop = len(df['cum']), step = 1)/(len(df['cum'])))

y_25_75 = df['cum'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)]
y_25_75 = y_25_75/max(y_25_75)
x_25_75 = np.arange(start = 0 , stop = len(y_25_75), step = 1)/(len(y_25_75))

In [83]:
print('Q3-Q1 (in husd):')
df['balance'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)].describe().apply(lambda x: format(x/(10**0), 'f'))

Q3-Q1 (in husd):

count    706.000000
mean      17.872535
std       12.213403
min        3.559201
25%        9.893909
50%       13.000000
75%       23.962700
max       55.387642
Name: balance, dtype: object

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(15,15))
ax = fig.add_subplot()
plt.grid()
plt.title(r'L o r e n z \ \ C u r v e'+'\n', fontsize=50)
plt.xlabel('\n'+r'\% \ \ of \ \ A d d r e s s e s', fontsize=30)
plt.ylabel(r'\% \ o f \ \ t o t a l \ \ H U S D \ \ s u p p l y'+'\n',  fontsize=30)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
ax.plot(x_all,y_all, linewidth = 5, color = '#2D728F', label = r'$\ All$')
ax.plot(x_25_75,y_25_75, linewidth = 5, color = '#87AEDF', label = r'$\ Q_3 - Q_1$')
plt.legend(fontsize= 35)
plt.plot([0, 1], [0, 1], transform=ax.transAxes, linewidth = 4, ls = (0, (5, 10)), color = 'black')
ax.set_xlim([0,1.05])
plt.savefig('../pics/husd/husd_lorenzcurve.pdf')