# Stablecoin Billionaires<br> Descriptive Analysis of the Ethereum-based Stablecoin ecosystem

## by Anton Wahrst√§tter, 01.07.2020

# Part VI - TrueUSD

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from collections import Counter
from matplotlib import rc
import re
import random

rc('font', **{'family':'serif','serif': ['Computer Modern']})
rc('text', usetex=True)

#decimals
dec = 18

In [2]:
#plots
tx_over_date = '../plots/trueusd/trueusd_txs_over_date.csv'
unique_senders_over_date = '../plots/trueusd/trueusd_unique_senders_over_date.csv'
unique_recipients_over_date = '../plots/trueusd/trueusd_unique_recipients_over_date.csv'
tx_count_to = '../plots/trueusd/trueusd_tx_count_to.csv'
tx_count_from = '../plots/trueusd/trueusd_tx_count_from.csv'
tx_over_date = '../plots/trueusd/trueusd_txs_over_date.csv'
balances = '../plots/trueusd/trueusd_balances.csv'
avg_gas_over_date = '../plots/trueusd/trueusd_avg_gas_over_date.csv'
avg_value_over_date = '../plots/trueusd/trueusd_avg_value_over_date.csv'
positive_cumulated_balances = '../plots/trueusd/trueusd_positive_cumulated_balances.csv'
circulating_supply = '../plots/trueusd/trueusd_circulating_supply.csv'
unique_recipients_per_day_over_date = '../plots/trueusd/trueusd_unique_recipients_per_day_over_date.csv'
unique_senders_per_day_over_date = '../plots/trueusd/trueusd_unique_senders_per_day_over_date.csv'
exchanges = '../plots/exchanges.csv'

#data 
transfer = '../data/trueusd/transfer/0_trueUSD_transfer_5198636-10370273.csv'

mint = '../data/trueusd/mint/trueusd_mint.csv'
burn = '../data/trueusd/burn/trueusd_burn.csv'

<center></center>

# Data

In [4]:
df = pd.read_csv(transfer)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Basics

In [5]:
df['txvalue'] = df['txvalue'].astype(float)/10**dec

In [6]:
df.describe()

,Unnamed: 0,timestamp,blocknumber,txindex,txvalue,gas_price,gas_used
count,814750.000,814750.000,814750.000,814750.000,814750.000,814750.000,814750.000
mean,314109.833,1565135345.313,8305251.327,64.222,15168.464,20112704549.078,90049.336
std,215916.394,15769702.150,1125259.467,52.716,222554.285,25113067486.193,189216.572
min,0.000,1520220614.000,5198636.000,0.000,0.000,0.000,24428.000
25%,101843.250,1554886690.500,7539378.500,21.000,76.435,6000000000.000,29584.000
50%,299944.500,1563149200.000,8152326.000,52.000,500.000,15000000000.000,37281.000
75%,503631.750,1579467196.500,9314107.750,96.000,3343.110,30000000000.000,62098.000
max,707319.000,1593561562.000,10370272.000,458.000,69405654.262,5913730466413.000,6990077.000

In [6]:
(df['txvalue']/10**dec).describe()

count     814750.000
mean       15168.464
std       222554.285
min            0.000
25%           76.435
50%          500.000
75%         3343.110
max     69405654.262
Name: txvalue, dtype: float64

<center></center>

## Dataset

In [6]:
print('Start:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[0],
                                                        df['timestamp'].iloc[0],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[0]))
                                                       ))
print('End:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[-1],
                                                        df['timestamp'].iloc[-1],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[-1]))
                                                       ))

Start:
Block:            5198636
Timestamp:      1520220614
UTC Time:    2018-03-05 04:30:14

End:
Block:            10370272
Timestamp:      1593561562
UTC Time:    2020-07-01 01:59:22

## Total Nr. of Blocks

In [7]:
print('Total Nr. of Blocks: {}'.format(df['blocknumber'].iloc[-1]-df['blocknumber'].iloc[0]))

Total Nr. of Blocks: 5171636

<center></center>

## Total Nr. of Transfer Events

In [8]:
print('Total Nr. of Events: {:,.0f}'.format(df.describe().loc['count','timestamp']))

Total Nr. of Events: 814,750

<center></center>

## Total Nr. of Addresses

In [9]:
print('Total Nr. of Addresses: {}'.format(len(df['txto'].unique())))

Total Nr. of Addresses: 145242

<center></center>

## Addresses with funds

In [10]:
bal = pd.read_csv(balances)
print('Total Nr. of Addresses with funds: {}'.format(len(bal[bal['txvalue']>0])))

Total Nr. of Addresses with funds: 29547

<center></center>

## Avg. Transaction Value

In [11]:
print('Avg. Transaction Value: {:,.0f} TUSD'.format(np.mean(df['txvalue']/10**dec)))

Avg. Transaction Value: 15,168 TUSD

<center></center>

## Total Gas Costs

In [12]:
df['costs'] = (df['gas_price']/10**18) * df['gas_used']
print('Total Gas spent for Transfers: {:,.3f} ether'.format(sum(df['costs'])))

Total Gas spent for Transfers: 1,209.223 ether

<center></center>

## Total TrueUSD Supply

<center></center>

In [10]:
all_token = (sum(pd.read_csv(mint)['txvalue'].astype(float))-sum(pd.read_csv(burn)['txvalue'].astype(float)))/(10**18)

In [13]:
new_token

139901682.53001994

In [16]:
df = pd.read_csv(transfer)
sum(df[df['txfrom'] == '0x0000000000000000000000000000000000000000']["txvalue"].astype(float))/(10**dec)- sum(df[df['txto'] == '0x0000000000000000000000000000000000000000']["txvalue"].astype(float))/(10**dec)

139901682.53001988

In [18]:
-65351940+205253622

139901682

<center></center>

<center></center>

<center></center>

# I. Event analysis

## I.I. Mint Event

## Plot new issued tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25), dpi=250)
ax = fig.subplots()
plt.grid()
plt.title(r'I s s u e d \ \ T r u e U S D'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e ', size=120)
plt.ylabel(r'T U S D'+'\n', size=120)
plt.yticks(fontsize=60)
plt.xticks(labels=["Apr '18",
                   "\nJul '18","Oct '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[27,
                  118,204,302,
                  392,483,575,
                  667,758,849], fontsize=60)

def plot_issue_over_date():
    _issue = pd.read_csv(mint)
    _issue_old = pd.read_csv(mint_old)
    _issue = _issue.append(_issue_old).sort_values('timestamp')
    _issue["txvalue"] = _issue["txvalue"].astype(float)
    iss = _issue.loc[:, ['timestamp', 'txvalue']]
    iss['utc'] = iss['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    iss = iss.groupby('utc', as_index = False)['txvalue'].sum()
    a = iss['utc'].iloc[0]
    b = iss['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    iss = iss.set_index('utc')
    iss.index = pd.DatetimeIndex(iss.index)
    iss = iss.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(iss)):
        plt.plot([counter,counter], [0, iss['txvalue'].iloc[counter]/(10**dec)], color= 'black', linewidth=3)
        counter += 1
    return 

plt.tight_layout(pad=5)
plot_issue_over_date()
plt.savefig('../pics/trueusd/trueusd_issued_TUSD_over_date.pdf')

## Further info

In [20]:
df = pd.read_csv(mint)
df['txvalue'] = df['txvalue'].astype(float)
#print(df[df['txvalue'] == max(df['txvalue'])])
print('Issue Events: {}\nIssued trueusd: {:,.0f}\n'.format(len(df), sum(df['txvalue'])/10**dec, ':,0f'))
print('Largest issue: {:,.0f} trueusd\n . . . to address: {}\n'.format(df.loc[484, 'txvalue']//10**dec,'0x55fe002aeff02f77364de339a1292923a15844b8'))

Issue Events: 6552
Issued trueusd: 1,066,112,357

Largest issue: 62,799 trueusd
 . . . to address: 0x55fe002aeff02f77364de339a1292923a15844b8

<center></center>

<center></center>

## I.II. Burn Event

## Plot burned tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25))
ax = fig.subplots()
plt.grid()
plt.title(r'B u r n e d \ \ T r u e U S D'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e', size=120)
plt.ylabel(r'T U S D'+'\n', size=120)
plt.yticks(fontsize=60)
plt.xticks(labels=["Apr '18","\nJul '18","Oct '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[0,83,175,267,
                  357,448,540,
                  632,723,814], fontsize=60)

def plot_burn_over_date():
    _dbf = pd.read_csv(burn)
    _dbf_old = pd.read_csv(burn_old)
    _dbf = _dbf.append(_dbf_old).sort_values('timestamp')
    _dbf["txvalue"] = _dbf["txvalue"].astype(float)
    dbf = _dbf.loc[:, ['timestamp', 'txvalue']]
    dbf['utc'] = dbf['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    dbf = dbf.groupby('utc', as_index = False)['txvalue'].sum()
    a = dbf['utc'].iloc[0]
    b = dbf['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    dbf = dbf.set_index('utc')
    dbf.index = pd.DatetimeIndex(dbf.index)
    dbf = dbf.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(dbf)):
        plt.plot([counter,counter], [0, dbf['txvalue'].iloc[counter]/(10**dec)], color= 'black', linewidth=3)
        counter += 1
    
    return

plt.tight_layout(pad=5)
plot_burn_over_date()
plt.savefig('../pics/trueusd/trueusd_burned_TUSD_over_date.pdf')

## Further info

In [22]:
df = pd.read_csv(burn)
df['txvalue'] = df['txvalue'].astype(float)
idx = df[df['txvalue'] == max(df['txvalue'])].index[0]


print('Burn Events: {}\nBurned TUSD: {:,.0f}'.format(len(df), sum(df['txvalue'])/10**dec, ':,0f'))
print('. . . from {} addesses\n'.format(len(df['address'].unique())))
print('Largest burn: {:,.0f} TUSD\n . . . from address: {}\n'.format(df['txvalue'].iloc[idx]/(10**dec), 
                                                                     df.groupby("address")["txvalue"].sum().index[0]))

Burn Events: 4179
Burned TUSD: 926,210,674
. . . from 483 addesses

Largest burn: 16,393,562 TUSD
 . . . from address: 0x0000000000000000000000000000000000000027

<center></center>

<center></center>

## Plot circulating supply

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'C i r c u l a t i n g \ \ T r u e U S D \ \ S u p p l y'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 60)
plt.ylabel(r'T U S D'+'\n', size= 60)
ax.yaxis.get_offset_text().set_fontsize(25)

plt.yticks(fontsize=30)
plt.xticks(labels=["Apr '18",
                   "\nJul '18","Oct '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[27,
                  118,204,302,
                  392,483,575,
                  667,758,849], fontsize=30)

circ = pd.read_csv(circulating_supply, index_col='Unnamed: 0')

plt.plot(range(0, 849), circ['txvalue'].cumsum()/10**dec, color='black', linewidth = 4, label = 'TUSD supply')
plt.fill_between(range(0, 849),0 , circ['txvalue'].cumsum()/10**dec, alpha=0.2, facecolor='#2D728F')
lgnd = plt.legend(loc='upper left', fontsize=40)
plt.tight_layout(pad=5)
plt.savefig('../pics/trueusd/trueusd_cirulating_supply.pdf')

<center></center>

<center></center>

<center></center>

## I.III. Transfer Event

## Plot transfers over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'T r u e U S D \ \ T r a n s f e r s'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 50)
plt.ylabel(r'T r a n s f e r s'+'\n', size= 50)
plt.yticks(np.arange(0, 5001, 1000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 5001, 1000)), 
           fontsize=30)
plt.xticks(labels=["Apr '18",
                   "\nJul '18","Oct '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[27,
                  118,204,302,
                  392,483,575,
                  667,758,849], fontsize=30)


def plot_txs_over_date(df, lwd, label, col = '#2D728F', fillbetween=False):
    plt.plot(np.arange(0 , len(df['txs'])), df['txs'], color = col, linewidth = lwd, label = label)
    if fillbetween:
        plt.fill_between(np.arange(0 , len(df['txs'])),0 , df['txs'], alpha=0.2, facecolor='#2D728F')  
    
plot_txs_over_date(df = pd.read_csv(tx_over_date, index_col=0), 
                   col = 'black', lwd = 2, label = 'Transfers', fillbetween=True)

plot_txs_over_date(pd.read_csv(unique_recipients_per_day_over_date, index_col='Unnamed: 0'), 
                   lwd = 2, label = 'Unique Recipients per day')

plot_txs_over_date(pd.read_csv(unique_senders_per_day_over_date, index_col='Unnamed: 0'), 
                   col='#9DB469', lwd = 2, label =  'Unique Senders per day')

lgnd = ax.legend(loc='upper left', fontsize=35)
lgnd.legendHandles[0].set_linewidth(5.0)
lgnd.legendHandles[1].set_linewidth(5.0)
lgnd.legendHandles[2].set_linewidth(5.0)

plt.tight_layout(pad=5)
plt.savefig('../pics/trueusd/trueusd_tx_over_date.pdf')
plt.show()

<center></center>

## Most active addresses

From:

In [25]:
fr = pd.read_csv(tx_count_from, index_col='Unnamed: 0').sort_values('txs', ascending = False)
to = pd.read_csv(tx_count_to, index_col='Unnamed: 0').sort_values('txs', ascending = False)
fr = pd.DataFrame(fr.loc[:fr.index[10],'txs'])
fr['tag'] = ['Binance', 'HitBTC 2', 'Bittrex', 'Binance 4', 'Binance 2', 'Binance 3', '-', '-', 'OKEx 1 ', 'Faa.st', 'Kyber: Old Contract']
fr

                                              txs                  tag
0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be  34870              Binance
0x59a5208b32e627891c389ebafc644145224006e8  22823             HitBTC 2
0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98  22297              Bittrex
0x0681d8db095565fe8a346fa0277bffde9c0edbbf  20608            Binance 4
0xd551234ae421e3bcba99a0da6d736074f22192ff  20560            Binance 2
0x564286362092d8e7936f0549571a803b203aaced  20527            Binance 3
0x29d5527caa78f1946a409fa6acaf14a0a4a0274b  14836                    -
0x0000000000000000000000000000000000000000   6552                    -
0x6cc5f688a315f3dc28a7781717a9a798a59fda7b   6112              OKEx 1
0x94fe3ad91dacba8ec4b82f56ff7c122181f1535d   5950               Faa.st
0x9ae49c0d7f8f9ef4b864e004fe86ac8294e20950   5778  Kyber: Old Contract

To:

In [26]:
to = pd.DataFrame(to.loc[:to.index[10],'txs'])
to['tag'] = ['Binance', 'Bittrex', '-', 'HitBTC 3', '-', '-', 'Uniswap: Old TUSD Token', 'Kyber: Old Contract', 'Uniswap: TUSD', 'OKEx 1', '-']
to

                                              txs                      tag
0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be  77027                  Binance
0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98  12572                  Bittrex
0x29d5527caa78f1946a409fa6acaf14a0a4a0274b  11627                        -
0xa12431d0b9db640034b0cdfceef9cce161e62be4  10477                 HitBTC 3
0x986ccf5234d9cfbb25246f1a5bfa51f4ccfcb308   9500                        -
0x5b7934cdbb5cd076bd486e0f017aeb777bf0d04c   8865                        -
0x4f30e682d0541eac91748bd38a648d759261b8f3   6478  Uniswap: Old TUSD Token
0x9ae49c0d7f8f9ef4b864e004fe86ac8294e20950   5779      Kyber: Old Contract
0x5048b9d01097498fd72f3f14bc9bc74a5aac8fa7   5624            Uniswap: TUSD
0x6cc5f688a315f3dc28a7781717a9a798a59fda7b   4920                   OKEx 1
0x0a2311594059b468c9897338b027c8782398b481   4829                        -

<center></center>

<center></center>

## Activity distribution

In [27]:
df_from = pd.read_csv(tx_count_from, index_col=0)
df_to = pd.read_csv(tx_count_to, index_col=0)
df_all = pd.concat([df_from, df_to])
df = df_all.groupby(df_all.index).sum()
print('{} addresses in total'.format(len(df)))
df = df.sort_values('txs')
gr0 = len(df.loc[df['txs'] >= 500000])
gra = len(df.loc[df['txs'] >= 100000]) - gr0 
grb = len(df.loc[df['txs'] >= 50000]) - gr0 - gra
grc = len(df.loc[df['txs'] >= 10000]) - gr0 - gra - grb
grd = len(df.loc[df['txs'] >= 1000]) - gr0 - gra - grb - grc
gre = len(df.loc[df['txs'] >= 100]) - gr0 - gra - grb - grc - grd
grf = len(df.loc[df['txs'] >= 10]) - gr0 - gra - grb - grc - grd - gre
grg = len(df.loc[df['txs'] <= 10])
grh = len(df.loc[df['txs'] == 1]) 
pd.DataFrame({'Transactions': ['> 500.000','100.000-500.000',
                               '50.000-100.000',
                               '10.000-50.000',
                               '1.000-10.000',
                               '100-1.000',
                               '10-100',
                               '< 10', 
                               '1'], 
              'Addresses':[gr0,gra,grb,grc,grd,gre,grf,grg,grh]
             })

145346 addresses in total

      Transactions  Addresses
0        > 500.000          0
1  100.000-500.000          1
2   50.000-100.000          0
3    10.000-50.000         14
4     1.000-10.000        132
5        100-1.000        884
6           10-100      14164
7             < 10     131939
8                1      10457

<center></center>

<center></center>

## Plot average transfer amount

## Jan '20 - Jul '20

In [ ]:
print('\n\n')
df = pd.read_csv(avg_value_over_date, index_col=0)
df = df.loc[df.index[667]:,:]
plt.figure(figsize=(12, 7), dpi=800)
plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['txvalue'], color = 'black', label = 'Avg. Amount/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['txvalue'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\n'+'D a t e', fontsize=35)
plt.ylabel('T U S D'+'\n', fontsize=30)
plt.title("T r u e U S D\nA v g. \ \ T r a n s f e r \ \ A m o u n t\n", size = 30)
plt.legend(loc="upper left", fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=23) 
plt.yticks(np.arange(0, 70001, 10000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 70001, 10000)), 
           fontsize=15)
plt.tight_layout(pad=1)
plt.savefig('../pics/trueusd/trueusd_avgtxvalue_jan20.pdf')

<center></center>

## Further Info

In [29]:
df.describe()

        txvalue
count   182.000
mean  13837.033
std    8309.189
min    2795.083
25%    8550.434
50%   12045.235
75%   16825.533
max   73766.905

<center></center>

<center></center>

## Plot average gas costs

## Jan '20 - Jul '20

In [ ]:
print('\n\n')
df = pd.read_csv(avg_gas_over_date)
df = df.loc[df.index[667]:,:]
plt.figure(figsize=(12, 7), dpi=800)
plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['gas'], color = 'black', label = 'Avg. Gas Costs/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['gas'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\nD a t e', fontsize=35)
plt.ylabel('E t h e r\n', fontsize=30)
plt.title("T r u e U S D\nA v g. \ \ G a s \ \ C o s t s\n", size = 30)
lgnd = plt.legend(loc='upper left', fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=20) 
plt.yticks(np.arange(0, 0.05, 0.01), 
           np.vectorize(lambda x: f'{x:,.3f}')(np.arange(0, 0.05, 0.01)), 
           fontsize=15)
plt.tight_layout(pad=1)
lgnd.legendHandles[0].set_linewidth(3.0)
plt.savefig('../pics/trueusd/trueusd_avggascosts_jan20.pdf')

In [60]:
df.describe()

          gas
count 182.000
mean    0.002
std     0.002
min     0.000
25%     0.001
50%     0.001
75%     0.002
max     0.012

<center></center>

<center></center>

# II. Balances Analysis

In [61]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
df

                                          address      balance           cum
0      0xcfece4b39088d32e01c8661175c6f1e83581d476        0.000         0.000
1      0x9fdbf65f3ef29607ce0140d6a32bd921dc929e71        0.000         0.000
2      0x486a22cf91167c72c7d6a5167b5fc2eb79b2c679        0.000         0.000
3      0xcf1635986fdb990569e0cfd0175fd2c503f7a0cd        0.000         0.000
4      0x488ec0c2d39015038c672715c1a0c3a3688259df        0.000         0.000
...                                           ...          ...           ...
29542  0xb8d2b921c0ea0ca27266fa63907a079ef25084d0  2313700.000 102568960.608
29543  0x270cd0b43f6fe2512a32597c7a05fb01ee6ec8e1  2500584.653 105069545.261
29544  0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98  6335412.229 111404957.490
29545  0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be 12496725.040 123901682.530
29546  0xf977814e90da44bfa03b6295a0616a897441acec 16000000.000 139901682.530

[29547 rows x 3 columns]

<center></center>

## II.I. Quick Summary

In [62]:
(df[df['balance']>0]['balance']).describe().apply(lambda x: format(x, 'f'))

count       29547.000000
mean         4734.886199
std        132656.637339
min             0.000000
25%             0.050000
50%             3.380000
75%           100.000000
max      16000000.000000
Name: balance, dtype: object

In [63]:
print('{}/{} with less than 1 TUSD' .format(len(df[df['balance']<1]['balance']), len(df['balance'])))

12038/29547 with less than 1 TUSD

<center></center>

## II.II. Balance Table

In [64]:
df = pd.read_csv(positive_cumulated_balances, index_col=0)
def get_distribution(perc):
    per = round(df.index[-1]*perc)
    entities = df.index[-1]- per
    upper = df.loc[per:,:]
    lower = df.loc[:per,:]
    lower_ = lower['cum'].iloc[-1]
    upper_ = (upper['cum'].iloc[-1] - upper['cum'].iloc[0])
    return entities, lower_, upper_, lower_/ upper['cum'].iloc[-1], upper_/(upper['cum'].iloc[-1])

idx90, lower90, upper90, per10, per90 = get_distribution(0.90)
idx95, lower95, upper95, per05, per95 = get_distribution(0.95)
idx99, lower99, upper99, per01, per99 = get_distribution(0.99)
idx999, lower999, upper999, per001, per999 = get_distribution(0.999)

df = pd.DataFrame([[f'{idx999:,.0f}', round(per999*100,2), f'{upper999:,.0f}'],
             [f'{idx99:,.0f}', round(per99*100,2),f'{upper99:,.0f}'],
             [f'{idx95:,.0f}', round(per95*100,2),f'{upper95:,.0f}'],
             [f'{idx90:,.0f}', round(per90*100,2),f'{upper90:,.0f}']],
                  index=['0.1% of the richest accounts', '1% of the richest accounts','5% of the richest accounts','10% of the richest accounts'],
                   columns=['Accounts in total', '% of total supply', 'TUSD amount'])
df

                             Accounts in total  % of total supply  TUSD amount
0.1% of the richest accounts                30             50.160   70,171,362
1% of the richest accounts                 295             84.640  118,407,106
5% of the richest accounts               1,477             96.360  134,814,414
10% of the richest accounts              2,955             98.620  137,977,206

<center></center>

<center></center>

## II.III. Rich list

In [65]:
pd.options.mode.chained_assignment = None
df = pd.read_csv(positive_cumulated_balances)
balance = df
rich = df.loc[df.index[-10]:,:]
ex = pd.read_csv(exchanges, header=None)
loop = rich.iterrows()
for i, j in loop:
    if j['address'] in ex[0].tolist():
        rich.loc[i,'nametag'] = ex[ex[0] == j['address']][1].values[0]


rich

,Unnamed: 0,address,balance,cum,nametag
29537,29537,0x0681d8db095565fe8a346fa0277bffde9c0edbbf,1497065.248,92756586.449,Binance 4
29538,29538,0x0b4412d296387dc3f6d197f4791fb53b3ad8b80a,1502313.087,94258899.536,NaN
29539,29539,0x4f1f46d1197e9eac11012d300b6bd5c555ac1514,1576538.581,95835438.117,NaN
29540,29540,0xd551234ae421e3bcba99a0da6d736074f22192ff,2197301.267,98032739.384,Binance 2
29541,29541,0x564286362092d8e7936f0549571a803b203aaced,2222521.224,100255260.608,Binance 3
29542,29542,0xb8d2b921c0ea0ca27266fa63907a079ef25084d0,2313700.000,102568960.608,NaN
29543,29543,0x270cd0b43f6fe2512a32597c7a05fb01ee6ec8e1,2500584.653,105069545.261,NaN
29544,29544,0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98,6335412.229,111404957.490,Bittrex 1
29545,29545,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,12496725.040,123901682.530,Binance
29546,29546,0xf977814e90da44bfa03b6295a0616a897441acec,16000000.000,139901682.530,Binance 8

<center></center>

<center></center>

## Huobi

In [66]:
ex = pd.read_csv(exchanges, header=None)

In [67]:
df = ex.loc[0:73,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Huobi Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Huobi Total Balance: 1396055
1.00% of Total

<center></center>

## Binance

In [68]:
df = ex.loc[74:88,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Binance Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Binance Total Balance: 34413613
24.60% of Total

<center></center>

## Bitfinex

In [69]:
df = ex.loc[89:110,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bitfinex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bitfinex Total Balance: 106779
0.08% of Total

<center></center>

## OKEx

In [70]:
df = ex.loc[111:115,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('OKEx Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

OKEx Total Balance: 396577
0.28% of Total

<center></center>

## Bittrex

In [71]:
df = ex.loc[116:119,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bittrex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bittrex Total Balance: 6335412
4.53% of Total

<center></center>

## Compound

In [72]:
df = ex.loc[151:179,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Compound Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Compound Total Balance: 0
0.00% of Total

<center></center>

## Poloniex

In [73]:
df = ex.loc[247:266,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Poloniex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Poloniex Total Balance: 712
0.00% of Total

<center></center>

<center></center>

# II. IV. Pie Chart

In [81]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
aa = df.iloc[df.index[-1]-80:]
bb = df['balance'].iloc[:df.index[-1]-80]
df = aa.append(pd.DataFrame({'address': 'others', 'balance': sum(bb)}, index=[0]))
label = []
counter = 0
def getlabel(i):
    global counter
    if i:
        if not i == 'others':
            label.append(i + '...')
        else:
            label.append(i)
    else:
        label.append('')
    counter += 1
    
[getlabel(i[:6]) if counter >= len(df)-11 else getlabel('') for i in df['address']  ]
print()

In [ ]:
print('\n\n')
# Colorspace colors by: https://colorspace.r-forge.r-project.org/index.html

colorspace_set3 = ['#EEBD92','#FFB3B5','#85D0F2','#BCC3FE','#E7B5F5', 
                 '#FEAFDA', '#61D8D6','#76D9B1','#A4D390','#CFC982']
colorsp_dynamic =['#DB9D85', '#87AEDF', '#9DB469', '#6DBC86', '#3DBEAB', 
                  '#4CB9CC', '#C2A968', '#BB9FE0', '#DA95CC', '#E494AB']
colorspa_dark_3 = ['#B675E0','#5991E4','#00AA5A','#6F9F00','#CE7D3B']
colorspa_dyna_5 = ['#9DB469','#87AEDF','#DA95CC', '#DB9D85','#3DBEAB']

fig = plt.figure(figsize=(25,15), dpi=400)
ax = fig.add_subplot()
aa = plt.pie(df['balance'],colors=colorsp_dynamic, 
             labels=label,
             autopct=lambda x: r'{:.1f}\%'.format(x) if x > 1.0 else r'{:.0f}\%'.format(x) if x > 5  else '', 
             pctdistance= 0.8, 
             labeldistance= 1.05, 
             radius=1, 
             explode=[0.05 for i in range(0, len(df['balance']))],
             wedgeprops = {'linewidth': 0.8, 'edgecolor':'k'}, 
             startangle=200) 

# Custom Modifications
#aa[-1][-1].set_x(-0.7268917458682129)
aa[-1][-1].set_fontsize(35)
aa[-1][-2].set_fontsize(30)
#aa[-1][-2].set_x(0.19977073082370535)
#aa[-1][-2].set_y(0.8000006952023211)
aa[-1][-3].set_fontsize(27)
aa[-1][-4].set_fontsize(23)
aa[-1][-5].set_fontsize(20)
aa[-1][-6].set_fontsize(16)
aa[-1][-7].set_fontsize(13)
aa[-1][-8].set_fontsize(9)
aa[-1][-9].set_fontsize(9)
aa[-1][-10].set_fontsize(9)
aa[-1][-11].set_fontsize(8)

fontsize = -43
for i in aa[1]:
    i.set_fontsize(fontsize)
    fontsize += 1
aa[1][-1].set_fontsize(55)
plt.tight_layout(pad=5)
plt.title('T r u e U S D \ \ D i s t r i b u t i o n', fontsize = 50)
circ = plt.Circle((0,0),0.5,color='black', fc='white',linewidth=1.25)
ax.add_artist(circ)
plt.savefig('../pics/trueusd/trueusd_distribution_pie.pdf')

## II.V. Lorenz curve

In [76]:
df = pd.read_csv(positive_cumulated_balances, index_col = 'Unnamed: 0')
df

                                          address      balance           cum
0      0xcfece4b39088d32e01c8661175c6f1e83581d476        0.000         0.000
1      0x9fdbf65f3ef29607ce0140d6a32bd921dc929e71        0.000         0.000
2      0x486a22cf91167c72c7d6a5167b5fc2eb79b2c679        0.000         0.000
3      0xcf1635986fdb990569e0cfd0175fd2c503f7a0cd        0.000         0.000
4      0x488ec0c2d39015038c672715c1a0c3a3688259df        0.000         0.000
...                                           ...          ...           ...
29542  0xb8d2b921c0ea0ca27266fa63907a079ef25084d0  2313700.000 102568960.608
29543  0x270cd0b43f6fe2512a32597c7a05fb01ee6ec8e1  2500584.653 105069545.261
29544  0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98  6335412.229 111404957.490
29545  0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be 12496725.040 123901682.530
29546  0xf977814e90da44bfa03b6295a0616a897441acec 16000000.000 139901682.530

[29547 rows x 3 columns]

In [77]:
y_all = df['cum']/df['cum'].iloc[-1]
x_all = (np.arange(start = 0 , stop = len(df['cum']), step = 1)/(len(df['cum'])))

y_25_75 = df['cum'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)]
y_25_75 = y_25_75/max(y_25_75)
x_25_75 = np.arange(start = 0 , stop = len(y_25_75), step = 1)/(len(y_25_75))

In [78]:
print('Q3-Q1 (in TUSD):')
df['balance'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)].describe().apply(lambda x: format(x/(10**0), 'f'))

Q3-Q1 (in TUSD):

count    14773.000000
mean        14.383266
std         22.958412
min          0.050000
25%          0.777993
50%          3.378649
75%         17.411860
max        100.000000
Name: balance, dtype: object

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(15,15))
ax = fig.add_subplot()
plt.grid()
plt.title(r'L o r e n z \ \ C u r v e'+'\n', fontsize=50)
plt.xlabel('\n'+r'\% \ \ of \ \ A d d r e s s e s', fontsize=30)
plt.ylabel(r'\% \ o f \ \ t o t a l \ \ T U S D \ \ s u p p l y'+'\n',  fontsize=30)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
ax.plot(x_all,y_all, linewidth = 5, color = '#2D728F', label = r'$\ All$')
ax.plot(x_25_75,y_25_75, linewidth = 5, color = '#87AEDF', label = r'$\ Q_3 - Q_1$')
plt.legend(fontsize= 35)
plt.plot([0, 1], [0, 1], transform=ax.transAxes, linewidth = 4, ls = (0, (5, 10)), color = 'black')
ax.set_xlim([0,1.05])
plt.savefig('../pics/trueusd/trueusd_lorenzcurve.pdf')