# Stablecoin Billionaires<br> Descriptive Analysis of the Ethereum-based Stablecoin ecosystem

## by Anton Wahrst√§tter, 01.07.2020

# Part V - DAI

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from collections import Counter
from matplotlib import rc
import re
import random

rc('font', **{'family':'serif','serif': ['Computer Modern']})
rc('text', usetex=True)

#decimals
dec = 18

In [2]:
#plots
tx_over_date = '../plots/dai/dai_txs_over_date.csv'
unique_senders_over_date = '../plots/dai/dai_unique_senders_over_date.csv'
unique_recipients_over_date = '../plots/dai/dai_unique_recipients_over_date.csv'
tx_count_to = '../plots/dai/dai_tx_count_to.csv'
tx_count_from = '../plots/dai/dai_tx_count_from.csv'
tx_over_date = '../plots/dai/dai_txs_over_date.csv'
balances = '../plots/dai/dai_balances.csv'
avg_gas_over_date = '../plots/dai/dai_avg_gas_over_date.csv'
avg_value_over_date = '../plots/dai/dai_avg_value_over_date.csv'
positive_cumulated_balances = '../plots/dai/dai_positive_cumulated_balances.csv'
circulating_supply = '../plots/dai/dai_circulating_supply.csv'
unique_recipients_per_day_over_date = '../plots/dai/dai_unique_recipients_per_day_over_date.csv'
unique_senders_per_day_over_date = '../plots/dai/dai_unique_senders_per_day_over_date.csv'
exchanges = '../plots/exchanges.csv'

#data 
transfer = '../data/dai/transfer/0_dai_transfer_8928158-10370273.csv'
mint = '../data/dai/mint/dai_mint.csv'
burn = '../data/dai/burn/dai_burn.csv'

<center></center>

# Data

In [3]:
df = pd.read_csv(transfer)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Basics

In [4]:
df['txvalue'] = df['txvalue'].astype(float)/10**18

In [5]:
df.describe()

,timestamp,blocknumber,txindex,txvalue,gas_price,gas_used
count,2647517.000,2647517.000,2647517.000,2647517.000,2647517.000,2647517.000
mean,1584358681.685,9684350.148,70.544,6699.322,17711503439.366,472827.895
std,4941685.255,365613.697,48.573,52366.654,93473470594.835,672465.581
min,1573680153.000,8928674.000,0.000,0.000,0.000,19755.000
25%,1580973744.000,9427728.000,32.000,18.881,5000000000.000,82222.000
50%,1584032736.000,9657955.000,62.000,265.893,8800000000.000,238754.000
75%,1588177180.000,9968490.000,101.000,3085.972,20000000000.000,548253.000
max,1593561562.000,10370272.000,509.000,12000717.498,47925761363714.000,10022870.000

<center></center>

## Dataset

In [6]:
print('Start:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[0],
                                                        df['timestamp'].iloc[0],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[0]))
                                                       ))
print('End:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[-1],
                                                        df['timestamp'].iloc[-1],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[-1]))
                                                       ))

Start:
Block:            8928674
Timestamp:      1573680153
UTC Time:    2019-11-13 22:22:33

End:
Block:            10370272
Timestamp:      1593561562
UTC Time:    2020-07-01 01:59:22

## Total Nr. of Blocks

In [7]:
print('Total Nr. of Blocks: {}'.format(df['blocknumber'].iloc[-1]-df['blocknumber'].iloc[0]))

Total Nr. of Blocks: 1441598

<center></center>

## Total Nr. of Transfer Events

In [8]:
print('Total Nr. of Events: {:,.0f}'.format(df.describe().loc['count','timestamp']))

Total Nr. of Events: 2,647,517

<center></center>

## Total Nr. of Addresses

In [9]:
print('Total Nr. of Addresses: {}'.format(len(df['txto'].unique())))

Total Nr. of Addresses: 249665

<center></center>

## Addresses with funds

In [10]:
bal = pd.read_csv(balances)
print('Total Nr. of Addresses with funds: {}'.format(len(bal[bal['txvalue']>0])))

Total Nr. of Addresses with funds: 100149

<center></center>

## Avg. Transaction Value

In [11]:
print('Avg. Transaction Value: {:,.0f} DAI'.format(np.mean(df['txvalue']/10**dec)))

Avg. Transaction Value: 0 DAI

<center></center>

## Total Gas Costs

In [12]:
df['costs'] = (df['gas_price']/10**dec) * df['gas_used']
print('Total Gas spent for Transfers: {:,.3f} ether'.format(sum(df['costs'])))

Total Gas spent for Transfers: 19,600.790 ether

<center></center>

## Total DAI Supply

<center></center>

In [13]:
#other method
sum(df[df['txfrom'] == '0x0000000000000000000000000000000000000000']["txvalue"].astype(float))/(10**dec)- sum(df[df['txto'] == '0x0000000000000000000000000000000000000000']["txvalue"].astype(float))/(10**dec)

1.0657674329683546e-10

In [14]:
(sum(pd.read_csv(mint)['txvalue'].astype(float))-sum(pd.read_csv(burn)['txvalue'].astype(float)))/(10**dec)

106576743.29690687

<center></center>

<center></center>

<center></center>

# I. Event analysis

## I.I. Mint Event

## Plot new issued tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25), dpi=250)
ax = fig.subplots()
plt.grid()
plt.title(r'I s s u e d \ \ D A I'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e ', size=120)
plt.ylabel(r'D A I'+'\n', size=120)
plt.yticks(fontsize=60)
plt.xticks(labels=["\nNov '19","Jan '20","\nMar '20","May '20", "\nJul '20"], 
           ticks=[0, 49, 109, 170, 231], fontsize=60)

def plot_issue_over_date():
    _issue = pd.read_csv(mint)
    _issue["txvalue"] = _issue["txvalue"].astype(float)
    iss = _issue.loc[:, ['timestamp', 'txvalue']]
    iss['utc'] = iss['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    iss = iss.groupby('utc', as_index = False)['txvalue'].sum()
    a = iss['utc'].iloc[0]
    b = iss['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    iss = iss.set_index('utc')
    iss.index = pd.DatetimeIndex(iss.index)
    iss = iss.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(iss)):
        plt.plot([counter,counter], [0, iss['txvalue'].iloc[counter]/(10**dec)], color= 'black', linewidth=3)
        counter += 1
    return 

plt.tight_layout(pad=5)
dfis = plot_issue_over_date()
plt.savefig('../pics/dai/dai_issued_dai_over_date.pdf')

## Further info

In [15]:
df = pd.read_csv(mint)
df['txvalue'] = df['txvalue'].astype(float)
#print(df[df['txvalue'] == max(df['txvalue'])])
print('Issue Events: {}\nIssued DAI: {:,.0f}\n'.format(len(df), sum(df['txvalue'])/10**dec, ':,0f'))
print('Largest issue: {:,.0f} DAI\n . . . to address: {}\n'.format(df.loc[137647, 'txvalue']//10**dec,'0x55fe002aeff02f77364de339a1292923a15844b8'))

Issue Events: 150131
Issued DAI: 1,397,176,191

Largest issue: 10,000,612 DAI
 . . . to address: 0x55fe002aeff02f77364de339a1292923a15844b8

<center></center>

<center></center>

## I.II. Burn Event

## Plot burned tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25))
ax = fig.subplots()
plt.grid()
plt.title(r'B u r n e d \ \ D A I'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e', size=120)
plt.ylabel(r'D A I'+'\n', size=120)
plt.yticks(fontsize=60)
plt.xticks(labels=["\nNov '19","Jan '20","\nMar '20","May '20", "\nJul '20"], 
           ticks=[0, 44, 104, 165, 226], fontsize=60)

def plot_burn_over_date():
    _dbf = pd.read_csv(burn)
    _dbf["txvalue"] = _dbf["txvalue"].astype(float)
    dbf = _dbf.loc[:, ['timestamp', 'txvalue']]
    dbf['utc'] = dbf['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    dbf = dbf.groupby('utc', as_index = False)['txvalue'].sum()
    a = dbf['utc'].iloc[0]
    b = dbf['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    dbf = dbf.set_index('utc')
    dbf.index = pd.DatetimeIndex(dbf.index)
    dbf = dbf.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(dbf)):
        plt.plot([counter,counter], [0, dbf['txvalue'].iloc[counter]/(10**dec)], color= 'black', linewidth=3)
        counter += 1
    
    return

plt.tight_layout(pad=5)
plot_burn_over_date()
plt.savefig('../pics/dai/dai_burned_dai_over_date.pdf')

## Further info

In [16]:
df = pd.read_csv(burn)
df['txvalue'] = df['txvalue'].astype(float)
idx = df[df['txvalue'] == max(df['txvalue'])].index[0]


print('Burn Events: {}\nBurned DAI: {:,.0f}'.format(len(df), sum(df['txvalue'])/10**dec, ':,0f'))
print('. . . from {} addesses\n'.format(len(df['address'].unique())))
print('Largest burn: {:,.0f} DAI\n . . . from address: {}\n'.format(df['txvalue'].iloc[idx]/(10**dec), 
                                                                     df.groupby("address")["txvalue"].sum().index[0]))

Burn Events: 167956
Burned DAI: 1,290,599,447
. . . from 15471 addesses

Largest burn: 12,000,717 DAI
 . . . from address: 0x0000000000000000000000000000000000000000

<center></center>

<center></center>

## Plot circulating supply

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'C i r c u l a t i n g \ \ D A I \ \ S u p p l y'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 60)
plt.ylabel(r'D A I'+'\n', size= 60)
ax.yaxis.get_offset_text().set_fontsize(25)

plt.yticks(fontsize=30)
plt.xticks(labels=["\nNov '19","Jan '20","\nMar '20","May '20", "\nJul '20"], 
           ticks=[0, 49, 109, 170, 231], fontsize=30)
circ = pd.read_csv(circulating_supply, index_col='Unnamed: 0')

plt.plot(range(0, 231), circ['txvalue'].cumsum()/10**dec, color='black', linewidth = 4, label = 'DAI supply')
plt.fill_between(range(0, 231),0 , circ['txvalue'].cumsum()/10**dec, alpha=0.2, facecolor='#2D728F')
lgnd = plt.legend(loc='upper left', fontsize=40)
plt.tight_layout(pad=5)
plt.savefig('../pics/dai/dai_cirulating_supply.pdf')

<center></center>

<center></center>

<center></center>

## I.III. Transfer Event

## Plot transfers over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'D A I \ \ T r a n s f e r s'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 50)
plt.ylabel(r'T r a n s f e r s'+'\n', size= 50)
plt.yticks(np.arange(0, 50001, 10000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 50001, 10000)), 
           fontsize=30)
plt.xticks(labels=["\nNov '19","Jan '20","\nMar '20","May '20", "\nJul '20"], 
           ticks=[0, 49, 109, 170, 231], fontsize=30)

def plot_txs_over_date(df, lwd, label, col = '#2D728F', fillbetween=False):
    plt.plot(np.arange(0 , len(df['txs'])), df['txs'], color = col, linewidth = lwd, label = label)
    if fillbetween:
        plt.fill_between(np.arange(0 , len(df['txs'])),0 , df['txs'], alpha=0.2, facecolor='#2D728F')  
    
plot_txs_over_date(df = pd.read_csv(tx_over_date, index_col=0), 
                   col = 'black', lwd = 2, label = 'Transfers', fillbetween=True)

plot_txs_over_date(pd.read_csv(unique_recipients_per_day_over_date, index_col='Unnamed: 0'), 
                   lwd = 2, label = 'Unique Recipients per day')

plot_txs_over_date(pd.read_csv(unique_senders_per_day_over_date, index_col='Unnamed: 0'), 
                   col='#9DB469', lwd = 2, label =  'Unique Senders per day')

lgnd = ax.legend(loc='upper left', fontsize=35)
lgnd.legendHandles[0].set_linewidth(5.0)
lgnd.legendHandles[1].set_linewidth(5.0)
lgnd.legendHandles[2].set_linewidth(5.0)

plt.tight_layout(pad=5)
plt.savefig('../pics/dai/dai_tx_over_date.pdf')
plt.show()

<center></center>

## Most active addresses

From:

In [17]:
fr = pd.read_csv(tx_count_from, index_col='Unnamed: 0').sort_values('txs', ascending = False)
to = pd.read_csv(tx_count_to, index_col='Unnamed: 0').sort_values('txs', ascending = False)
fr = pd.DataFrame(fr.loc[:fr.index[10],'txs'])
fr['tag'] = ['OasisDEX', '-', 'Uniswap: DAI', 'Kyber: Contract', 'Eth2Dai: Old Contract', 'Compound Dai ', '-', '-', '1inch.exchange', 'Disperse.app', 'Kyber: Reserve Uniswap']
fr

                                               txs                     tag
0x794e6e91555438afc3ccf1c5076a74f42133d08d  168172                OasisDEX
0x0000000000000000000000000000000000000000  150131                       -
0x2a1530c4c41db0b0b2bb646cb5eb1a67b7158667  106571            Uniswap: DAI
0x65bf64ff5f51272f729bdcd7acfb00677ced86cd  104557         Kyber: Contract
0x39755357759ce0d7f32dc8dc45414cca409ae24e   83087   Eth2Dai: Old Contract
0x5d3a536e4d6dbd6114cc1ead35777bab948e3643   72819           Compound Dai
0xa57bd00134b2850b2a1c55860c9e9ea100fdd6cf   59125                       -
0xd3e52099a6a48f132cb23b1364b7dee212d862f6   44973                       -
0x11111254369792b2ca5d084ab5eea397ca8fa48b   41365          1inch.exchange
0xd152f549545093347a162dce210e7293f1452150   41269            Disperse.app
0x31e085afd48a1d6e51cc193153d625e8f0514c7f   36148  Kyber: Reserve Uniswap

To:

In [18]:
to = pd.DataFrame(to.loc[:to.index[10],'txs'])
to['tag'] = ['-', 'OasisDEX', 'Uniswap: DAI', 'Kyber: Contract', 'Compound Dai', 'Eth2Dai: Old Contract', '-', '1inch.exchange', 'Kyber: Reserve Uniswap', '-', '-']
to

                                               txs                     tag
0x0000000000000000000000000000000000000000  167956                       -
0x794e6e91555438afc3ccf1c5076a74f42133d08d  137676                OasisDEX
0x2a1530c4c41db0b0b2bb646cb5eb1a67b7158667  112147            Uniswap: DAI
0x65bf64ff5f51272f729bdcd7acfb00677ced86cd  101304         Kyber: Contract
0x5d3a536e4d6dbd6114cc1ead35777bab948e3643   73711            Compound Dai
0x39755357759ce0d7f32dc8dc45414cca409ae24e   71271   Eth2Dai: Old Contract
0xa57bd00134b2850b2a1c55860c9e9ea100fdd6cf   62699                       -
0x11111254369792b2ca5d084ab5eea397ca8fa48b   36908          1inch.exchange
0x31e085afd48a1d6e51cc193153d625e8f0514c7f   36148  Kyber: Reserve Uniswap
0x1f487a4435f3b730d742aa4b6ef8c9e0a6b9a027   34494                       -
0xeb91a27e79bddbac9569d512f15064c8466883da   25227                       -

<center></center>

<center></center>

## Activity distribution

In [19]:
df_from = pd.read_csv(tx_count_from, index_col=0)
df_to = pd.read_csv(tx_count_to, index_col=0)
df_all = pd.concat([df_from, df_to])
df = df_all.groupby(df_all.index).sum()
print('{} addresses in total'.format(len(df)))
df = df.sort_values('txs')
gr0 = len(df.loc[df['txs'] >= 500000])
gra = len(df.loc[df['txs'] >= 100000]) - gr0 
grb = len(df.loc[df['txs'] >= 50000]) - gr0 - gra
grc = len(df.loc[df['txs'] >= 10000]) - gr0 - gra - grb
grd = len(df.loc[df['txs'] >= 1000]) - gr0 - gra - grb - grc
gre = len(df.loc[df['txs'] >= 100]) - gr0 - gra - grb - grc - grd
grf = len(df.loc[df['txs'] >= 10]) - gr0 - gra - grb - grc - grd - gre
grg = len(df.loc[df['txs'] <= 10])
grh = len(df.loc[df['txs'] == 1]) 
pd.DataFrame({'Transactions': ['> 500.000','100.000-500.000',
                               '50.000-100.000',
                               '10.000-50.000',
                               '1.000-10.000',
                               '100-1.000',
                               '10-100',
                               '< 10', 
                               '1'], 
              'Addresses':[gr0,gra,grb,grc,grd,gre,grf,grg,grh]
             })

250327 addresses in total

      Transactions  Addresses
0        > 500.000          0
1  100.000-500.000          7
2   50.000-100.000          4
3    10.000-50.000         41
4     1.000-10.000        281
5        100-1.000       2412
6           10-100      26904
7             < 10     223935
8                1      35199

<center></center>

<center></center>

## Plot average transfer amount

## Jan '20 - Jul '20

In [20]:
df = pd.read_csv(avg_value_over_date, index_col=0)
df = df.loc[df.index[49]:,:]

In [ ]:
print('\n\n')
plt.figure(figsize=(12, 7), dpi=800)
plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['txvalue'], color = 'black', label = 'Avg. Amount/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['txvalue'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\n'+'D a t e', fontsize=35)
plt.ylabel('D A I'+'\n', fontsize=30)
plt.title("D A I\nA v g. \ \ T r a n s f e r \ \ A m o u n t"+"\n", size = 30)
plt.legend(loc="upper right", fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=23) 
plt.yticks(np.arange(0, 50001, 10000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 50001, 10000)), 
           fontsize=15)
plt.tight_layout(pad=1)
plt.savefig('../pics/dai/dai_avgtxvalue_jan20.pdf')

<center></center>

## Further Info

In [21]:
df.describe()

        txvalue
count   182.000
mean   6095.243
std    2474.995
min    2027.100
25%    4265.388
50%    5797.787
75%    7317.255
max   17183.192

<center></center>

<center></center>

## Plot average gas costs

## Jan '20 - Jul '20

In [22]:
df = pd.read_csv(avg_gas_over_date)
df = df.loc[df.index[49]:,:]

In [ ]:
print('\n\n')
plt.figure(figsize=(12, 7), dpi=800)
plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['gas'], color = 'black', label = 'Avg. Gas Costs/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['gas'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\nD a t e', fontsize=35)
plt.ylabel('E t h e r\n', fontsize=30)
plt.title("D A I\nA v g. \ \ G a s \ \ C o s t s\n", size = 30)
lgnd = plt.legend(loc='upper left', fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=20) 
plt.yticks(np.arange(0, 0.05, 0.01), 
           np.vectorize(lambda x: f'{x:,.3f}')(np.arange(0, 0.05, 0.01)), 
           fontsize=15)
plt.tight_layout(pad=1)
lgnd.legendHandles[0].set_linewidth(3.0)
plt.savefig('../pics/dai/dai_avggascosts_jan20.pdf')

In [23]:
pd.set_option('display.float_format', lambda x: '%.6f' % x)
df.describe()

             gas
count 182.000000
mean    0.006787
std     0.006357
min     0.001658
25%     0.002785
50%     0.004300
75%     0.008930
max     0.049057

<center></center>

<center></center>

# II. Balances Analysis

In [24]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
df

,address,balance,cum
0,0x5790254ee1ca100ce43e744dc44067eb81d3c07a,0.000000,0.000000
1,0x08e49debc47125a5d344a6c8f07cda9c3a08c553,0.000000,0.000000
2,0x282d304c5ca7f8bdf63cb71ac75d17e2f6dce55e,0.000000,0.000000
3,0x7b06f98842243be271f0e066343264ebada1a488,0.000000,0.000000
4,0x5c9c2f412ceeffcd4c36ac1c0a85827000878fbc,0.000000,0.000000
...,...,...,...
100144,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,3050646.603235,90235193.362147
100145,0xa5407eae9ba41422680e2e00537571bcc53efbfd,3401415.450793,93636608.812940
100146,0x6dcb8492b5de636fd9e0a32413514647d00ef8d0,3646557.295292,97283166.108233
100147,0x07bb41df8c1d275c4259cdd0dbf0189d6a9a5f32,4500000.000000,101783166.108233
100148,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,4793577.188617,106576743.296850

<center></center>

## II.I. Quick Summary

In [25]:
(df[df['balance']>0]['balance']).describe().apply(lambda x: format(x, 'f'))

count     100149.000000
mean        1064.181802
std        37707.088593
min            0.000000
25%            0.080000
50%            1.927820
75%           39.892653
max      4793577.188617
Name: balance, dtype: object

In [26]:
print('{}/{} with less than 1 DAI' .format(len(df[df['balance']<1]['balance']), len(df['balance'])))

43204/100149 with less than 1 DAI

<center></center>

## II.II. Balance Table

In [27]:
df = pd.read_csv(positive_cumulated_balances, index_col=0)
def get_distribution(perc):
    per = round(df.index[-1]*perc)
    entities = df.index[-1]- per
    upper = df.loc[per:,:]
    lower = df.loc[:per,:]
    lower_ = lower['cum'].iloc[-1]
    upper_ = (upper['cum'].iloc[-1] - upper['cum'].iloc[0])
    return entities, lower_, upper_, lower_/ upper['cum'].iloc[-1], upper_/(upper['cum'].iloc[-1])

idx90, lower90, upper90, per10, per90 = get_distribution(0.90)
idx95, lower95, upper95, per05, per95 = get_distribution(0.95)
idx99, lower99, upper99, per01, per99 = get_distribution(0.99)
idx999, lower999, upper999, per001, per999 = get_distribution(0.999)

df = pd.DataFrame([[f'{idx999:,.0f}', round(per999*100,2), f'{upper999:,.0f}'],
             [f'{idx99:,.0f}', round(per99*100,2),f'{upper99:,.0f}'],
             [f'{idx95:,.0f}', round(per95*100,2),f'{upper95:,.0f}'],
             [f'{idx90:,.0f}', round(per90*100,2),f'{upper90:,.0f}']],
                  index=['0.1% of the richest accounts', '1% of the richest accounts','5% of the richest accounts','10% of the richest accounts'],
                   columns=['Accounts in total', '<% of total supply', 'DAI amount'])
df

,Accounts in total,<% of total supply,DAI amount
0.1% of the richest accounts,100,68.450000,"72,946,572"
1% of the richest accounts,"1,001",91.280000,"97,283,400"
5% of the richest accounts,"5,007",97.140000,"103,523,804"
10% of the richest accounts,"10,015",98.340000,"104,806,506"

<center></center>

<center></center>

## II.III. Rich list

In [28]:
pd.options.mode.chained_assignment = None
df = pd.read_csv(positive_cumulated_balances)
balance = df
rich = df.loc[df.index[-10]:,:]
ex = pd.read_csv(exchanges, header=None)
loop = rich.iterrows()
for i, j in loop:
    if j['address'] in ex[0].tolist():
        rich.loc[i,'nametag'] = ex[ex[0] == j['address']][1].values[0]


rich.loc[100145,'nametag'] = 'Curve.fi: sUSD v2 Swap '
rich.loc[100144,'nametag'] = 'Uniswap V2: DAI '

rich

,Unnamed: 0,address,balance,cum,nametag
100139,100139,0x66c57bf505a85a74609d2c83e94aabb26d691e1f,2231996.912159,76536876.098052,NaN
100140,100140,0x631bca95cda1133ffb48aac6154c975adb9be4fa,2330384.049738,78867260.147789,NaN
100141,100141,0x68eefd1926b99c70e22e5bc6c095d9cf2f776490,2448094.976387,81315355.124176,NaN
100142,100142,0x8430b778d08c569e0fc6b8e0722839329a329586,2822977.964007,84138333.088183,NaN
100143,100143,0x9eb7f2591ed42dee9315b6e2aaf21ba85ea69f8c,3046213.670729,87184546.758912,NaN
100144,100144,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,3050646.603235,90235193.362147,Uniswap V2: DAI
100145,100145,0xa5407eae9ba41422680e2e00537571bcc53efbfd,3401415.450793,93636608.812940,Curve.fi: sUSD v2 Swap
100146,100146,0x6dcb8492b5de636fd9e0a32413514647d00ef8d0,3646557.295292,97283166.108233,NaN
100147,100147,0x07bb41df8c1d275c4259cdd0dbf0189d6a9a5f32,4500000.000000,101783166.108233,NaN
100148,100148,0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e,4793577.188617,106576743.296850,dYdX: Solo Margin

<center></center>

<center></center>

## Huobi

In [29]:
ex = pd.read_csv(exchanges, header=None)

In [30]:
df = ex.loc[0:73,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Huobi Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Huobi Total Balance: 0
0.00% of Total

<center></center>

## Binance

In [31]:
df = ex.loc[74:88,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Binance Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Binance Total Balance: 7
0.00% of Total

<center></center>

## Bitfinex

In [32]:
df = ex.loc[89:110,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bitfinex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bitfinex Total Balance: 854060
0.80% of Total

<center></center>

## OKEx

In [33]:
df = ex.loc[111:115,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('OKEx Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

OKEx Total Balance: 796770
0.75% of Total

<center></center>

## Bittrex

In [34]:
df = ex.loc[116:119,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bittrex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bittrex Total Balance: 438391
0.41% of Total

<center></center>

## Compound

In [35]:
df = ex.loc[151:179,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Compound Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Compound Total Balance: 214
0.00% of Total

<center></center>

## Poloniex

In [36]:
df = ex.loc[247:266,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Poloniex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Poloniex Total Balance: 61165
0.06% of Total

## dYdX

In [37]:
df = ex.loc[267:298,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('dYdX Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

dYdX Total Balance: 4793577
4.50% of Total

<center></center>

## Maker

In [38]:
df = ex.loc[180:246,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('MakerDAO Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

MakerDAO Total Balance: 1610832
1.51% of Total

<center></center>

<center></center>

# II. IV. Pie Chart

In [ ]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
aa = df.iloc[df.index[-1]-80:]
bb = df['balance'].iloc[:df.index[-1]-80]
df = aa.append(pd.DataFrame({'address': 'others', 'balance': sum(bb)}, index=[0]))
label = []
counter = 0
def getlabel(i):
    global counter
    if i:
        if not i == 'others':
            label.append(i + '...')
        else:
            label.append(i)
    else:
        label.append('')
    counter += 1
    
[getlabel(i[:6]) if counter >= len(df)-11 else getlabel('') for i in df['address']  ]
print()

In [ ]:
print('\n\n')
# Colorspace colors by: https://colorspace.r-forge.r-project.org/index.html

colorspace_set3 = ['#EEBD92','#FFB3B5','#85D0F2','#BCC3FE','#E7B5F5', 
                 '#FEAFDA', '#61D8D6','#76D9B1','#A4D390','#CFC982']
colorsp_dynamic =['#DB9D85', '#87AEDF', '#9DB469', '#6DBC86', '#3DBEAB', 
                  '#4CB9CC', '#C2A968', '#BB9FE0', '#DA95CC', '#E494AB']
colorspa_dark_3 = ['#B675E0','#5991E4','#00AA5A','#6F9F00','#CE7D3B']
colorspa_dyna_5 = ['#9DB469','#87AEDF','#DA95CC', '#DB9D85','#3DBEAB']

fig = plt.figure(figsize=(25,15), dpi=400)
ax = fig.add_subplot()
aa = plt.pie(df['balance'],colors=colorsp_dynamic, 
             labels=label,
             autopct=lambda x: r'{:.1f}\%'.format(x) if x > 1.5 else r'{:.0f}\%'.format(x) if x > 5  else '', 
             pctdistance= 0.8, 
             labeldistance= 1.05, 
             radius=1, 
             explode=[0.05 for i in range(0, len(df['balance']))],
             wedgeprops = {'linewidth': 0.8, 'edgecolor':'k'}, 
             startangle=200) 

# Custom Modifications
#aa[-1][-1].set_x(-0.7268917458682129)
aa[-1][-1].set_fontsize(35)
aa[-1][-2].set_fontsize(30)
#aa[-1][-2].set_x(0.19977073082370535)
#aa[-1][-2].set_y(0.8000006952023211)
aa[-1][-3].set_fontsize(27)
aa[-1][-4].set_fontsize(23)
aa[-1][-5].set_fontsize(20)
aa[-1][-6].set_fontsize(16)
aa[-1][-7].set_fontsize(13)
aa[-1][-8].set_fontsize(9)
aa[-1][-9].set_fontsize(9)
aa[-1][-10].set_fontsize(9)
aa[-1][-11].set_fontsize(8)

fontsize = -43
for i in aa[1]:
    i.set_fontsize(fontsize)
    fontsize += 1
aa[1][-1].set_fontsize(55)
plt.tight_layout(pad=5)
plt.title('D A I \ \ D i s t r i b u t i o n', fontsize = 50)
circ = plt.Circle((0,0),0.5,color='black', fc='white',linewidth=1.25)
ax.add_artist(circ)
plt.savefig('../pics/dai/dai_distribution_pie.pdf')

## II.V. Lorenz curve

In [ ]:
df = pd.read_csv(positive_cumulated_balances, index_col = 'Unnamed: 0')
df

In [ ]:
y_all = df['cum']/df['cum'].iloc[-1]
x_all = (np.arange(start = 0 , stop = len(df['cum']), step = 1)/(len(df['cum'])))

y_25_75 = df['cum'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)]
y_25_75 = y_25_75/max(y_25_75)
x_25_75 = np.arange(start = 0 , stop = len(y_25_75), step = 1)/(len(y_25_75))

In [ ]:
print('Q3-Q1 (in DAI):')
df['balance'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)].describe().apply(lambda x: format(x/(10**0), 'f'))

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(15,15))
ax = fig.add_subplot()
plt.grid()
plt.title(r'L o r e n z \ \ C u r v e'+'\n', fontsize=50)
plt.xlabel('\n'+r'\% \ \ of \ \ A d d r e s s e s', fontsize=30)
plt.ylabel(r'\% \ o f \ \ t o t a l \ \ D A I \ \ s u p p l y'+'\n',  fontsize=30)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
ax.plot(x_all,y_all, linewidth = 5, color = '#2D728F', label = r'$\ All$')
ax.plot(x_25_75,y_25_75, linewidth = 5, color = '#87AEDF', label = r'$\ Q_3 - Q_1$')
plt.legend(fontsize= 35)
plt.plot([0, 1], [0, 1], transform=ax.transAxes, linewidth = 4, ls = (0, (5, 10)), color = 'black')
ax.set_xlim([0,1.05])
plt.savefig('../pics/dai/dai_lorenzcurve.pdf')