<h1><center>Stablecoin Billionaires<br> Descriptive Analysis of the Ethereum-based <br>
    Stablecoin ecosystem</center></h1>

<h2><center> by Anton Wahrst√§tter<br>01.07.2020</h2></center>

<h2><center>Part II - USDC</h2></center>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from collections import Counter
from matplotlib import rc
import re
import random

rc('font', **{'family':'serif','serif': ['Computer Modern']})
rc('text', usetex=True)

#decimals
dec = 6

In [2]:
#plots
tx_over_date = '../plots/usdc/usdc_txs_over_date.csv'
unique_senders_over_date = '../plots/usdc/usdc_unique_senders_over_date.csv'
unique_recipients_over_date = '../plots/usdc/usdc_unique_recipients_over_date.csv'
tx_count_to = '../plots/usdc/usdc_tx_count_to.csv'
tx_count_from = '../plots/usdc/usdc_tx_count_from.csv'
tx_over_date = '../plots/usdc/usdc_txs_over_date.csv'
balances = '../plots/usdc/usdc_balances.csv'
avg_gas_over_date = '../plots/usdc/usdc_avg_gas_over_date.csv'
avg_value_over_date = '../plots/usdc/usdc_avg_value_over_date.csv'
positive_cumulated_balances = '../plots/usdc/usdc_positive_cumulated_balances.csv'
circulating_supply = '../plots/usdc/usdc_circulating_supply.csv'
unique_recipients_per_day_over_date = '../plots/usdc/usdc_unique_recipients_per_day_over_date.csv'
unique_senders_per_day_over_date = '../plots/usdc/usdc_unique_senders_per_day_over_date.csv'
exchanges = '../plots/exchanges.csv'

#data 
transfer = '../data/usdc/transfer/0_usdc_transfer_6082465-10370273.csv'
mint = '../data/usdc/mint/usdc_mint.csv'
burn = '../data/usdc/burn/usdc_burn.csv'

<center></center>

# Data

In [3]:
df = pd.read_csv(transfer)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Basics

In [4]:
df['txvalue'] = df['txvalue'].astype(float)/10**dec

In [5]:
df.describe()

,timestamp,blocknumber,txindex,txvalue,gas_price,gas_used
count,2991712.000,2991712.000,2991712.000,2991712.000,2991712.000,2991712.000
mean,1578075103.840,9235110.935,69.711,19654.911,20520686635.884,385927.692
std,12929237.595,935130.380,51.528,273109.645,46618869660.360,945830.322
min,1536604001.000,6307510.000,0.000,0.000,0.000,23570.000
25%,1568763809.750,8569978.250,28.000,48.836,7000000000.000,39733.000
50%,1582816426.000,9566426.000,60.000,399.000,13000000000.000,54733.000
75%,1588318472.000,9979015.000,102.000,2500.000,27000000000.000,210578.000
max,1593561580.000,10370273.000,503.000,100145359.514,16918478016357.000,10022870.000

In [7]:
(df['txvalue']/10**6).describe()

count     2991712.000
mean        19654.911
std        273109.645
min             0.000
25%            48.836
50%           399.000
75%          2500.000
max     100145359.514
Name: txvalue, dtype: float64

<center></center>

## Dataset

In [6]:
print('Start:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[0],
                                                        df['timestamp'].iloc[0],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[0]))
                                                       ))
print('End:')
print('Block: {:^30}\nTimestamp: {:^20}\nUTC Time: {:^25}\n'.format(df['blocknumber'].iloc[-1],
                                                        df['timestamp'].iloc[-1],
                                                        str(datetime.fromtimestamp(df['timestamp'].iloc[-1]))
                                                       ))

Start:
Block:            6307510
Timestamp:      1536604001
UTC Time:    2018-09-10 20:26:41

End:
Block:            10370273
Timestamp:      1593561580
UTC Time:    2020-07-01 01:59:40

## Total Nr. of Blocks

In [7]:
print('Total Nr. of Blocks: {}'.format(df['blocknumber'].iloc[-1]-df['blocknumber'].iloc[0]))

Total Nr. of Blocks: 4062763

<center></center>

## Total Nr. of Transfer Events

In [8]:
print('Total Nr. of Events: {:,.0f}'.format(df.describe().loc['count','timestamp']))

Total Nr. of Events: 2,991,712

<center></center>

## Total Nr. of Addresses

In [9]:
print('Total Nr. of Addresses: {}'.format(len(df['txto'].unique())))

Total Nr. of Addresses: 778227

<center></center>

## Addresses with funds

In [10]:
bal = pd.read_csv(balances)
print('Total Nr. of Addresses with funds: {}'.format(len(bal[bal['txvalue']>0])))

Total Nr. of Addresses with funds: 177495

<center></center>

## Avg. Transaction Value

In [11]:
print('Avg. Transaction Value: {:,.0f} USDC'.format(np.mean(df['txvalue']/ 10**6)))

Avg. Transaction Value: 19,655 USDC

<center></center>

## Total Gas Costs

In [13]:
df['costs'] = (df['gas_price']/10**18) * df['gas_used']
print('Total Gas spent for Transfers: {:,.3f} ether'.format(sum(df['costs'])))

Total Gas spent for Transfers: 19,143.105 ether

<center></center>

## Initial USDC Supply

In [15]:
#first mint event
#0xdc6bb2a1aff2dbb2613113984b5fbd560e582c0a4369149402d7ea83b0f5983e

<center></center>

## Total USDC Supply

In [4]:
sum(pd.read_csv(mint)['txvalue']/10**6)-sum(pd.read_csv(burn)['txvalue']/10**6)

985540179.8800354

In [5]:
df = pd.read_csv(transfer)
sum(df[df['txfrom'] == '0x0000000000000000000000000000000000000000']["txvalue"].astype(float))/(10**6)- sum(df[df['txto'] == '0x0000000000000000000000000000000000000000']["txvalue"].astype(float))/(10**6)

985540179.8800001

<center></center>

<center></center>

<center></center>

# I. Event analysis

## I.I. Mint Event

## Plot new issued tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25), dpi=250)
ax = fig.subplots()
plt.grid()
plt.title(r'I s s u e d \ \ U S D C'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e ', size=120)
plt.ylabel(r'U S D C'+'\n', size=120)
plt.yticks(fontsize=60)
plt.xticks(labels=["Okt '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[21,113,
                  203,294,386,
                  478,569,660], fontsize=60)

def plot_issue_over_date():
    _issue = pd.read_csv(mint)
    iss = _issue.loc[:, ['timestamp', 'txvalue']]
    iss['utc'] = iss['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    iss = iss.groupby('utc', as_index = False)['txvalue'].sum()
    a = iss['utc'].iloc[0]
    b = iss['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    iss = iss.set_index('utc')
    iss.index = pd.DatetimeIndex(iss.index)
    iss = iss.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(iss)):
        plt.plot([counter,counter], [0, iss['txvalue'].iloc[counter]/(10**6)], color= 'black', linewidth=3)
        counter += 1
    return 

plt.tight_layout(pad=5)
dfis = plot_issue_over_date()
plt.savefig('../pics/usdc/usdc_issued_usdc_over_date.pdf')

## Further info

In [17]:
df = pd.read_csv(mint)
#df[df['txvalue'] == max(df['txvalue'])]
print('Issue Events: {}\nIssued USDC: {:,.0f}\n'.format(len(df), sum(df['txvalue'])/10**6, ':,0f'))
print('Largest issue: {:,.0f} USDC\n . . . to address: {}\n'.format(df.loc[3274, 'txvalue']//10**6,'0x55fe002aeff02f77364de339a1292923a15844b8'))

Issue Events: 5358
Issued USDC: 2,645,276,543

Largest issue: 35,028,441 USDC
 . . . to address: 0x55fe002aeff02f77364de339a1292923a15844b8

<center></center>

<center></center>

## I.II. Burn Event

## Plot burned tokens over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(40,25))
ax = fig.subplots()
plt.grid()
plt.title(r'B u r n e d \ \ U S D C \ \ o v e r \ \ D a t e'+'\n', size= 120)
ax.yaxis.get_offset_text().set_fontsize(50)
plt.xlabel('\n'+r'D a t e', size=120)
plt.ylabel(r'U S D C'+'\n', size=120)
plt.yticks(fontsize=60)
plt.xticks(labels=["Okt '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[6,98,
                  188,279,371,
                  463,554,645], fontsize=60)

def plot_burn_over_date():
    _dbf = pd.read_csv(burn)
    dbf = _dbf.loc[:, ['timestamp', 'txvalue']]
    dbf['utc'] = dbf['timestamp'].apply(lambda x: str(datetime.utcfromtimestamp(x))[0:10])
    dbf = dbf.groupby('utc', as_index = False)['txvalue'].sum()
    a = dbf['utc'].iloc[0]
    b = dbf['utc'].iloc[-1]
    idx = pd.date_range(a,b)
    dbf = dbf.set_index('utc')
    dbf.index = pd.DatetimeIndex(dbf.index)
    dbf = dbf.reindex(idx, fill_value=0)
    counter = 0
    for i in range(0, len(dbf)):
        plt.plot([counter,counter], [0, dbf['txvalue'].iloc[counter]/(10**6)], color= 'black', linewidth=3)
        counter += 1
    
    return

plt.tight_layout(pad=5)
plot_burn_over_date()
plt.savefig('../pics/usdc/usdc_burned_usdc_over_date.pdf')

## Further info

In [20]:
df = pd.read_csv(burn)

print('Burn Events: {}\nBurned usdc: {:,.0f}'.format(len(df), sum(df['txvalue'])/10**6, ':,0f'))
print('. . . from {} addesses\n'.format(len(df['address'].unique())))
print('Largest burn: {:,.0f} usdc\n . . . from address: {}\n'.format(df.groupby('address')['txvalue'].sum()[0]/10**6,df.groupby("address")["txvalue"].sum().index[0]))

Burn Events: 4659
Burned usdc: 1,659,736,363
. . . from 3 addesses

Largest burn: 200 usdc
 . . . from address: 0x24bdd8771b08c2ea6fe0e898126e65bd49021be3

<center></center>

<center></center>

## Plot circulating supply

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'C i r c u l a t i n g \ \ U S D C \ \ S u p p l y'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 60)
plt.ylabel(r'U S D C'+'\n', size= 60)
ax.yaxis.get_offset_text().set_fontsize(25)

plt.yticks(fontsize=30)
plt.xticks(labels=["Okt '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[21,113,
                  203,294,386,
                  478,569,660], fontsize=30)

circ = pd.read_csv(circulating_supply, index_col='Unnamed: 0')

plt.plot(range(0, 660), circ['txvalue'].cumsum()/10**6, color='black', linewidth = 4, label = 'USDC supply')
plt.fill_between(range(0, 660),0 , circ['txvalue'].cumsum()/10**6, alpha=0.2, facecolor='#2D728F')
lgnd = plt.legend(loc='upper left', fontsize=40)
plt.tight_layout(pad=5)
plt.savefig('../pics/usdc/usdc_cirulating_supply.pdf')

<center></center>

<center></center>

<center></center>

## I.III. Transfer Event

## Plot transfers over date

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(20,12), dpi=500)
ax = fig.subplots()
plt.grid(True)
plt.title(r'U S D C \ \ T r a n s f e r s'+'\n', size=60)
plt.xlabel('\n'+r'D a t e', size= 50)
plt.ylabel(r'U S D C'+'\n', size= 50)
plt.yticks(np.arange(0, 30001, 5000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 30001, 5000)), 
           fontsize=30)
plt.xticks(labels=["Okt '18","\nJan '19",
                   "Apr '19","\nJul '19","Oct '19",
                   "\nJan '20","Apr '20","\nJul '20"], 
           ticks=[21,113,
                  203,294,386,
                  478,569,660], fontsize=30)

def plot_txs_over_date(df, lwd, label, col = '#2D728F', plusbetween = False):
    plt.plot(np.arange(0 , len(df['txs'])), df['txs'], color = col, linewidth = lwd, label = label)
    if plusbetween:
        plt.fill_between(np.arange(0 , len(df['txs'])),0 , df['txs'], alpha=0.1, facecolor='#2D728F')
 
    
plot_txs_over_date(df = pd.read_csv(tx_over_date, index_col=0), 
                   col = 'black', lwd = 2, label = 'Transfers', plusbetween=True)

plot_txs_over_date(pd.read_csv(unique_senders_per_day_over_date, index_col='Unnamed: 0'), 
                   col='#9DB469', lwd = 2, label =  'Unique Senders per day')

plot_txs_over_date(pd.read_csv(unique_recipients_per_day_over_date, index_col='Unnamed: 0'), 
                   lwd = 2, label = 'Unique Recipients per day')




lgnd = ax.legend(loc='upper left', fontsize=35)
lgnd.legendHandles[0].set_linewidth(5.0)
lgnd.legendHandles[1].set_linewidth(5.0)
lgnd.legendHandles[2].set_linewidth(5.0)

plt.tight_layout(pad=5)
plt.savefig('../pics/usdc/usdc_tx_over_date.pdf')
plt.show()

<center></center>

## Most active addresses

From:

In [23]:
fr = pd.read_csv(tx_count_from, index_col='Unnamed: 0').sort_values('txs', ascending = False)
to = pd.read_csv(tx_count_to, index_col='Unnamed: 0').sort_values('txs', ascending = False)
fr = pd.DataFrame(fr.loc[:fr.index[10],'txs'])
fr['tag'] = ['Disperse.app', 'Uniswap: USDC', 'Binance', 'Kyber: Contract', 'Compound USD Coin', 'Binance 2', 'Binance 4', 'Binance 3', '1inch.exchange', 'Poloniex 4', '-']
fr

                                               txs                tag
0xd152f549545093347a162dce210e7293f1452150  107945       Disperse.app
0x97dec872013f6b5fb443861090ad931542878126   74945      Uniswap: USDC
0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be   68905            Binance
0x65bf64ff5f51272f729bdcd7acfb00677ced86cd   54927    Kyber: Contract
0x39aa39c021dfbae8fac545936693ac917d5e7563   40434  Compound USD Coin
0xd551234ae421e3bcba99a0da6d736074f22192ff   38190          Binance 2
0x0681d8db095565fe8a346fa0277bffde9c0edbbf   38089          Binance 4
0x564286362092d8e7936f0549571a803b203aaced   37665          Binance 3
0x11111254369792b2ca5d084ab5eea397ca8fa48b   27518     1inch.exchange
0xa910f92acdaf488fa6ef02174fb86208ad7722ba   27358         Poloniex 4
0x56178a0d5f301baf6cf3e1cd53d9863437345bf9   25719                  -

To:

In [24]:
to = pd.DataFrame(to.loc[:to.index[10],'txs'])
to['tag'] = ['Binance', 'Uniswap: USDC', 'Kyber: Contract', 'Compound USD Coin', '1inch.exchange', 'Kyber: Old Contract', 'BlockFi', 'Nexo: Wallet', 'Celsius Network: Contract ', '-', 'Nuo Network: Kernel Escrow']
to

                                               txs                         tag
0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be  162764                     Binance
0x97dec872013f6b5fb443861090ad931542878126   88425               Uniswap: USDC
0x65bf64ff5f51272f729bdcd7acfb00677ced86cd   53334             Kyber: Contract
0x39aa39c021dfbae8fac545936693ac917d5e7563   48035           Compound USD Coin
0x11111254369792b2ca5d084ab5eea397ca8fa48b   25217              1inch.exchange
0x9ae49c0d7f8f9ef4b864e004fe86ac8294e20950   24682         Kyber: Old Contract
0x04046027549f739edfd5b2a78efdbaf0f0bf4514   24513                     BlockFi
0x65b0bf8ee4947edd2a500d74e50a3d757dc79de0   21353                Nexo: Wallet
0x32a3256a4b15badd4a6e072a03d23404d925a5cf   19751  Celsius Network: Contract
0x56178a0d5f301baf6cf3e1cd53d9863437345bf9   19420                           -
0xaf38668f4719ecf9452dc0300be3f6c83cbf3721   17283  Nuo Network: Kernel Escrow

<center></center>

<center></center>

## Activity distribution

In [25]:
df_from = pd.read_csv(tx_count_from, index_col=0)
df_to = pd.read_csv(tx_count_to, index_col=0)
df_all = pd.concat([df_from, df_to])
df = df_all.groupby(df_all.index).sum()
print('{} addresses in total'.format(len(df)))
df = df.sort_values('txs')
gr0 = len(df.loc[df['txs'] >= 500000])
gra = len(df.loc[df['txs'] >= 100000]) - gr0 
grb = len(df.loc[df['txs'] >= 50000]) - gr0 - gra
grc = len(df.loc[df['txs'] >= 10000]) - gr0 - gra - grb
grd = len(df.loc[df['txs'] >= 1000]) - gr0 - gra - grb - grc
gre = len(df.loc[df['txs'] >= 100]) - gr0 - gra - grb - grc - grd
grf = len(df.loc[df['txs'] >= 10]) - gr0 - gra - grb - grc - grd - gre
grg = len(df.loc[df['txs'] <= 10])
grh = len(df.loc[df['txs'] == 1]) 
pd.DataFrame({'Transactions': ['> 500.000','100.000-500.000',
                               '50.000-100.000',
                               '10.000-50.000',
                               '1.000-10.000',
                               '100-1.000',
                               '10-100',
                               '< 10', 
                               '1'], 
              'Addresses':[gr0,gra,grb,grc,grd,gre,grf,grg,grh]
             })

778574 addresses in total

      Transactions  Addresses
0        > 500.000          0
1  100.000-500.000          4
2   50.000-100.000          2
3    10.000-50.000         48
4     1.000-10.000        283
5        100-1.000       2430
6           10-100      40673
7             < 10     740553
8                1      39655

<center></center>

<center></center>

## Plot average transfer amount

## Jan '20 - Jul '20

In [ ]:
print('\n\n')
df = pd.read_csv(avg_value_over_date, index_col=0)
df = df.loc[df.index[478]:,:]
plt.figure(figsize=(12, 7), dpi=800)

plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['txvalue'], color = 'black', label = 'Avg. Amount/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['txvalue'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\n'+'D a t e', fontsize=45)
plt.ylabel('U S D C'+'\n', fontsize=35)
plt.title("A v e r a g e \ \ T r a n s f e r \ \ A m o u n t"+"\n"+"J a n \ \ ' 2 0 \ \ - \ \ J u l \ \ ' 2 0\n", size = 30)
plt.legend(loc='upper right', fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=23) 
plt.yticks(np.arange(0, 50001, 10000), 
           np.vectorize(lambda x: f'{x:,.0f}')(np.arange(0, 50001, 10000)), 
           fontsize=15)
plt.tight_layout(pad=1)
plt.savefig('../pics/usdc/usdc_avgtxvalue_jan20.pdf')

<center></center>

## Further Info

In [27]:
df.describe()

        txvalue
count   182.000
mean  16167.790
std    8216.938
min    4850.018
25%   10625.421
50%   14527.489
75%   19706.437
max   46592.556

<center></center>

<center></center>

## Plot average gas costs

## Jan '20 - Jul '20

In [ ]:
print('\n\n')
df = pd.read_csv(avg_gas_over_date)
df = df.loc[df.index[478]:,:]
plt.figure(figsize=(12, 7), dpi=800)
plt.grid(True)
plt.plot(np.arange(0 , len(df.index.tolist())), df['gas'], color = 'black', label = 'Avg. Gas Costs/Day', linewidth = 2)
plt.fill_between(np.arange(0 , len(df.index.tolist())),0 , df['gas'], alpha=0.2, facecolor='#2D728F')
plt.xlabel('\n'+'D a t e', fontsize=35)
plt.ylabel('E t h e r'+'\n', fontsize=30)
plt.title("U S D C\nA v g. \ \ G a s \ \ C o s t s\n", size = 30)
lgnd = plt.legend(loc='upper left', fontsize=20, shadow= True)
plt.ticklabel_format(style = 'plain')
plt.xticks(labels=["\nJan '20","Feb '20","\nMar '20","Apr '20","\nMay '20","Jun '20","\nJul '20"], 
           ticks=[0,31,60,90,121,152,182], fontsize=20) 
plt.yticks(np.arange(0, 0.05, 0.01), 
           np.vectorize(lambda x: f'{x:,.3f}')(np.arange(0, 0.05, 0.01)), 
           fontsize=15)
plt.tight_layout(pad=1)
lgnd.legendHandles[0].set_linewidth(3.0)
plt.savefig('../pics/usdc/usdc_avggascosts_jan20.pdf')

In [29]:
df.describe()

          gas
count 182.000
mean    0.007
std     0.008
min     0.001
25%     0.002
50%     0.004
75%     0.007
max     0.036

<center></center>

<center></center>

# II. Balances Analysis

In [30]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
df

                                           address       balance           cum
0       0x692150239766b8918be10328fbe844c47fd6f630         0.000         0.000
1       0x4e757d73a7fb5b1c94f8c513fc1427d535c928d5         0.000         0.000
2       0x2df21064209a73f46d55498add4864a2c78a1277         0.000         0.000
3       0x12277af4ed779a95612110ad47717c06311a5a2e         0.000         0.000
4       0xbcfb3ae38127ea37872739388c8a743ba2c3c4c0         0.000         0.000
...                                            ...           ...           ...
177490  0x230f5fca76585c5bc023747ac880bdaab2c16aba  26756986.108 668278358.746
177491  0xf977814e90da44bfa03b6295a0616a897441acec  30000000.000 698278358.746
177492  0x8cee3eeab46774c1cde4f6368e3ae68bccd760bf  40000000.000 738278358.746
177493  0x92d7796c04ee34d1d16c57fab92fc2bccf434468  43192368.088 781470726.834
177494  0x39aa39c021dfbae8fac545936693ac917d5e7563 204069453.046 985540179.880

[177495 rows x 3 columns]

<center></center>

## II.I. Quick Summary

In [31]:
(df[df['balance']>0]['balance']).describe().apply(lambda x: format(x, 'f'))

count       177495.000000
mean          5552.495450
std         529361.084474
min              0.000001
25%              0.047176
50%              0.880000
75%              9.085000
max      204069453.045605
Name: balance, dtype: object

In [32]:
print('{}/{} with less than 1 usdc' .format(len(df[df['balance']<1]['balance']), len(df['balance'])))

92454/177495 with less than 1 usdc

<center></center>

## II.II. Balance Table

In [33]:
df = pd.read_csv(positive_cumulated_balances, index_col=0)
def get_distribution(perc):
    per = round(df.index[-1]*perc)
    entities = df.index[-1]- per
    upper = df.loc[per:,:]
    lower = df.loc[:per,:]
    lower_ = lower['cum'].iloc[-1]
    upper_ = (upper['cum'].iloc[-1] - upper['cum'].iloc[0])
    return entities, lower_, upper_, lower_/ upper['cum'].iloc[-1], upper_/(upper['cum'].iloc[-1])

idx90, lower90, upper90, per10, per90 = get_distribution(0.90)
idx95, lower95, upper95, per05, per95 = get_distribution(0.95)
idx99, lower99, upper99, per01, per99 = get_distribution(0.99)
idx999, lower999, upper999, per001, per999 = get_distribution(0.999)

df = pd.DataFrame([[f'{idx999:,.0f}', round(per999*100,2), f'{upper999:,.0f}'],
             [f'{idx99:,.0f}', round(per99*100,2),f'{upper99:,.0f}'],
             [f'{idx95:,.0f}', round(per95*100,2),f'{upper95:,.0f}'],
             [f'{idx90:,.0f}', round(per90*100,2),f'{upper90:,.0f}']],
                  index=['0.1% of the richest accounts', '1% of the richest accounts','5% of the richest accounts','10% of the richest accounts'],
                   columns=['Accounts in total', '% of total supply', 'usdc amount'])
df

                             Accounts in total  % of total supply  usdc amount
0.1% of the richest accounts               177             79.660  785,110,532
1% of the richest accounts               1,775             94.390  930,271,502
5% of the richest accounts               8,875             99.040  976,070,976
10% of the richest accounts             17,749             99.810  983,659,731

<center></center>

<center></center>

## II.III. Rich list

In [36]:
pd.options.mode.chained_assignment = None
df = pd.read_csv(positive_cumulated_balances)
balance = df
rich = df.loc[df.index[-10]:,:]
ex = pd.read_csv(exchanges, header=None)
loop = rich.iterrows()
for i, j in loop:
    if j['address'] in ex[0].tolist():
        rich.loc[i,'nametag'] = ex[ex[0] == j['address']][1].values[0]

rich.loc[177493,'nametag'] = 'Binance/FTX'
rich.loc[177492,'nametag'] = 'Binance?'
rich

,Unnamed: 0,address,balance,cum,nametag
177485,177485,0x769e8aac6e97aaae9f71d442a1737b7d256be97b,15000000.000,574385259.134,NaN
177486,177486,0xb8722127fa57a6b00c8716ad8d82512db87437fb,15000000.000,589385259.134,NaN
177487,177487,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,15590717.794,604975976.928,Binance 7
177488,177488,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,18120241.051,623096217.979,Binance
177489,177489,0x04046027549f739edfd5b2a78efdbaf0f0bf4514,18425154.658,641521372.638,NaN
177490,177490,0x230f5fca76585c5bc023747ac880bdaab2c16aba,26756986.108,668278358.746,NaN
177491,177491,0xf977814e90da44bfa03b6295a0616a897441acec,30000000.000,698278358.746,Binance 8
177492,177492,0x8cee3eeab46774c1cde4f6368e3ae68bccd760bf,40000000.000,738278358.746,Binance
177493,177493,0x92d7796c04ee34d1d16c57fab92fc2bccf434468,43192368.088,781470726.834,Binance
177494,177494,0x39aa39c021dfbae8fac545936693ac917d5e7563,204069453.046,985540179.880,Compound USD Coin

<center></center>

<center></center>

## Huobi

In [37]:
ex = pd.read_csv(exchanges, header=None)

In [38]:
df = ex.loc[0:73,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Huobi Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Huobi Total Balance: 14687912
1.49% of Total

<center></center>

## Binance

In [39]:
df = ex.loc[74:88,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Binance Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Binance Total Balance: 69599342
7.06% of Total

<center></center>

## Bitfinex

In [40]:
df = ex.loc[89:110,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bitfinex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bitfinex Total Balance: 1535922
0.16% of Total

<center></center>

## OKEx

In [41]:
df = ex.loc[111:115,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('OKEx Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

OKEx Total Balance: 1100618
0.11% of Total

<center></center>

## Bittrex

In [42]:
df = ex.loc[116:119,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Bittrex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Bittrex Total Balance: 591189
0.06% of Total

<center></center>

## Compound

In [43]:
df = ex.loc[151:179,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Compound Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Compound Total Balance: 204069453
20.71% of Total

<center></center>

## Poloniex

In [44]:
df = ex.loc[247:266,:]
bal = 0 
for i in df[0]:
    val = balance['balance'][balance['address'] == i]
    if not val.empty:
        bal += balance['balance'][balance['address'] == i].values[0]
    else:
        pass
print('Poloniex Total Balance: {:.0f}\n{:.2f}% of Total'.format(bal, bal/balance.loc[balance.index[-1], 'cum']*100))

Poloniex Total Balance: 7417559
0.75% of Total

<center></center>

<center></center>

<center></center>

# II. IV. Pie Chart

In [50]:
df = pd.read_csv(positive_cumulated_balances, index_col='Unnamed: 0')
aa = df.iloc[df.index[-1]-80:]
bb = df['balance'].iloc[:df.index[-1]-80]
df = aa.append(pd.DataFrame({'address': 'others', 'balance': sum(bb)}, index=[0]))
label = []
counter = 0
def getlabel(i):
    global counter
    if i:
        if not i == 'others':
            label.append(i + '...')
        else:
            label.append(i)
    else:
        label.append('')
    counter += 1
    
[getlabel(i[:6]) if counter >= len(df)-12 else getlabel('') for i in df['address']  ]
print()

In [ ]:
print('\n\n')
# Colorspace colors by: https://colorspace.r-forge.r-project.org/index.html

colorspace_set3 = ['#EEBD92','#FFB3B5','#85D0F2','#BCC3FE','#E7B5F5', 
                 '#FEAFDA', '#61D8D6','#76D9B1','#A4D390','#CFC982']
colorsp_dynamic =['#DB9D85', '#87AEDF', '#9DB469', '#6DBC86', '#3DBEAB', 
                  '#4CB9CC', '#C2A968', '#BB9FE0', '#DA95CC', '#E494AB']
colorspa_dark_3 = ['#B675E0','#5991E4','#00AA5A','#6F9F00','#CE7D3B']
colorspa_dyna_5 = ['#9DB469','#87AEDF','#DA95CC', '#DB9D85','#3DBEAB']

fig = plt.figure(figsize=(25,15), dpi=400)
ax = fig.add_subplot()
aa = plt.pie(df['balance'],colors=colorsp_dynamic, 
             labels=label,
             autopct=lambda x: r'{:.1f}\%'.format(x) if x > 1.5 else r'{:.0f}\%'.format(x) if x > 5  else '', 
             pctdistance= 0.8, 
             labeldistance= 1.05, 
             radius=1, 
             explode=[0.05 for i in range(0, len(df['balance']))],
             wedgeprops = {'linewidth': 0.8, 'edgecolor':'k'}, 
             startangle=220) 

# Custom Modifications
aa[-1][-1].set_x(-0.7268917458682129)
aa[-1][-1].set_fontsize(35)
aa[-1][-2].set_fontsize(30)
aa[-1][-2].set_x(0.19977073082370535)
aa[-1][-2].set_y(0.8000006952023211)
aa[-1][-3].set_fontsize(27)
aa[-1][-4].set_fontsize(23)
aa[-1][-5].set_fontsize(20)
aa[-1][-6].set_fontsize(16)
aa[-1][-7].set_fontsize(13)
aa[-1][-8].set_fontsize(9)
aa[-1][-9].set_fontsize(9)
aa[-1][-10].set_fontsize(9)
aa[-1][-11].set_fontsize(8)

fontsize = -43
for i in aa[1]:
    i.set_fontsize(fontsize)
    fontsize += 1
aa[1][-1].set_fontsize(55)
plt.tight_layout(pad=5)
plt.title('U S D C \ \ D i s t r i b u t i o n', fontsize = 50)
circ = plt.Circle((0,0),0.5,color='black', fc='white',linewidth=1.25)
ax.add_artist(circ)
plt.savefig('../pics/usdc/usdc_distribution_pie.pdf')

## II.V. Lorenz curve

In [60]:
df = pd.read_csv(positive_cumulated_balances, index_col = 'Unnamed: 0')
df

                                           address       balance           cum
0       0x692150239766b8918be10328fbe844c47fd6f630         0.000         0.000
1       0x4e757d73a7fb5b1c94f8c513fc1427d535c928d5         0.000         0.000
2       0x2df21064209a73f46d55498add4864a2c78a1277         0.000         0.000
3       0x12277af4ed779a95612110ad47717c06311a5a2e         0.000         0.000
4       0xbcfb3ae38127ea37872739388c8a743ba2c3c4c0         0.000         0.000
...                                            ...           ...           ...
177490  0x230f5fca76585c5bc023747ac880bdaab2c16aba  26756986.108 668278358.746
177491  0xf977814e90da44bfa03b6295a0616a897441acec  30000000.000 698278358.746
177492  0x8cee3eeab46774c1cde4f6368e3ae68bccd760bf  40000000.000 738278358.746
177493  0x92d7796c04ee34d1d16c57fab92fc2bccf434468  43192368.088 781470726.834
177494  0x39aa39c021dfbae8fac545936693ac917d5e7563 204069453.046 985540179.880

[177495 rows x 3 columns]

In [61]:
y_all = df['cum']/df['cum'].iloc[-1]
x_all = (np.arange(start = 0 , stop = len(df['cum']), step = 1)/(len(df['cum'])))

y_25_75 = df['cum'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)]
y_25_75 = y_25_75/max(y_25_75)
x_25_75 = np.arange(start = 0 , stop = len(y_25_75), step = 1)/(len(y_25_75))

In [62]:
print('Q3-Q1 (in usdc):')
df['balance'].iloc[int(df.index[-1]*0.25):int(df.index[-1]*0.75)].describe().apply(lambda x: format(x/(10**0), 'f'))

Q3-Q1 (in usdc):

count    88747.000000
mean         1.878254
std          2.238990
min          0.047175
25%          0.262992
50%          0.880000
75%          2.720765
max          9.082883
Name: balance, dtype: object

In [ ]:
print('\n\n')
fig = plt.figure(figsize=(15,15))
ax = fig.add_subplot()
plt.grid()
plt.title(r'L o r e n z \ \ C u r v e'+'\n', fontsize=50)
plt.xlabel('\n'+r'\% \ \ of \ \ A d d r e s s e s', fontsize=30)
plt.ylabel(r'\% \ o f \ \ t o t a l \ \ U S D C \ \ s u p p l y'+'\n',  fontsize=30)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
ax.plot(x_all,y_all, linewidth = 5, color = '#2D728F', label = r'$\ All$')
ax.plot(x_25_75,y_25_75, linewidth = 5, color = '#87AEDF', label = r'$\ Q_3 - Q_1$')
plt.legend(fontsize= 35)
plt.plot([0, 1], [0, 1], transform=ax.transAxes, linewidth = 4, ls = (0, (5, 10)), color = 'black')
ax.set_xlim([0,1.05])
plt.savefig('../pics/usdc/uscd_lorenzcurve.pdf')